{{ header }}

<div class="main-content">

  <section class="product--view">
      <div class="-content_space">
          <div class="wrapper">
              <div class="product-view-wrapper">
                  <div class="product--crumb d-flex">
                    {% for breadcrumb in breadcrumbs %}
                      <a href="{{ breadcrumb.href }}">
                          <span>{{ breadcrumb.text }}</span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                      </a>
                    {% endfor %}
                  </div>
                  <div class="product--name">
                      {{ heading_title }}
                  </div>
              </div>
          </div>

          <div class="catalog--wrapper">
             
              <div class="catalog-settings d-flex ">
                  <div class="catalog--filter">
                      <span>
                          Показать фильтры
                      </span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                  </div>
                  <div class="catalog-counter flex-1">
                      <p>
                          Найдено
                          &nbsp;
                          <span>{{ count }}</span>
                      </p>
                  </div>
                  <div class="catalog-sort-money">
                      <span>
                          Сортировка
                      </span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                      
                      <!-- Dropdown -->
                      <div class="--sort-dropdown">
                        {% for sorts in sorts %}
                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                        
                            <a href="{{ sorts.href }}" class="--sort-list transition d-block active">
                                {{ sorts.text }}е
                            </a>
            
                        {% else %}

                            <a href="{{ sorts.href }}" class="--sort-list transition d-block active">
                                {{ sorts.text }}
                            </a>
                        
                        {% endif %}
                        {% endfor %}


                      </div>
                      <!-- End Dropdown -->
                  </div>
              </div>

              <div class="catalog--box d-flex">
                  <div class="catalog--filters">
                      <div>
                          <div class="catalog--filters-items">
                              <h1>
                                  Цена, сум
                              </h1>
                              <span class="d-block">
                                  Определите цену:
                              </span>
                              <div class="--range-filter d-flex">
                                  <div class="--range-start">
                                      <span id="slider-range-value3">{{ minPrice }}</span>
                                  </div>
                                  <div class="--range-end flex-1">
                                      <span id="slider-range-value4">{{ maxPrice }}</span>
                                  </div>
                              </div>
                              <div id="slider-range2"></div>
                              <div class="slider-labels">
                                  <div class="range_form">
                                      <input type="hidden" name="min-price" id="price-min-value" value="{{ minPrice }}">
                                      <input type="hidden" name="max-price" id="price-max-value" value="{{ maxPrice }}">
                                  </div>
                              </div>
                          </div>  


                        {{ column_left }}


                      </div>
                  </div>
                  <div class="--catalog-container flex-1">
                      
                      <div class="--catalog-product-crumb">
                          <p>
                              {{ heading_title }}
                          </p>
                      </div>

                      <div class="--catalog-container-items d-flex f-wrap">
                        {% if products %}
                            {% for product in products %}

                            <div class="--catalog-container-item">
                                <div class="--catalog--inner">
                                    <div class="--catalog--inner-img">
                                        <img src="{{ product.thumb }}" alt="" class="d-block">
                                    </div>
                                    <div class="--catalog--inner-text">
                                        <span>{{ product.category_name }}</span>
                                        <p>
                                            {{ product.name }}
                                        </p>

                                        <h1>Цена</h1>

                                            {% if product.special %}
                                                <div class="d-flex f-wrap align-center">
                                                    <u>
                                                        {{ product.price }}
                                                    </u>
                                                    <p>
                                                        {{ product.special }}
                                                    </p>
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="d-block" width="72" height="40" viewBox="0 0 72 40">
                                                            <path fill="#D67E85" d="M69.65 0H26.98l-.07.02c-3.23 0-6.5 0-9.82-.02C12.06 4.98 7.03 9.94 2.1 15c-2.78 2.77-2.8 7.32-.03 9.94C7 30.02 12.1 35 17.1 40h52.4c1.36 0 2.5-1.2 2.5-2.54v-35C72 1.13 70.97.04 69.65 0zM6.75 23.04c-1.68 0-3.03-1.36-3.03-3.03s1.35-3.03 3.03-3.03S9.78 18.33 9.78 20s-1.36 3.03-3.03 3.03z" class="discount-svg"></path>
                                                        </svg>
                                                    <span>{{ product.percent_special }}%</span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="-text-const d-flex f-wrap align-center">
                                                    <u></u>
                                                    <p>
                                                        {{ product.price }} 
                                                    </p>
                                                </div>
                                            {% endif %}    
                                        
                                    </div>
                                </div>

                                <div class="--catalog-container-item-hover">
                                    <div class="--item-top-tools d-flex align-center jfy-bwn">
                                        <div class="--heart_icon toaster-wishlist wishlistById{{ product.product_id }}" onclick="wishlist.add({{ product.product_id }});">
                                            {% if product.product_id in wishlistProducts %}
                                                <svg xmlns="http://www.w3.org/2000/svg" class="transition active" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
                                            {% endif %}        
                                        </div>
                                        <div class="--search_icon">
                                            <span>
                                                Быстрый просмотр
                                            </span>
                                            <input type="hidden" class="product_id" value="{{ product.product_id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                                        </div>
                                    </div>

                                    <a href="{{ product.href }}" class="--empty-state d-block"></a>

                                    <a href="{{ product.href }}" class="--item-size d-block">
                                        <p>
                                            Размеры
                                        </p>
                                        <div class="--size_props d-flex align-center jfy-bwn">
                                            <div>
                                                <span>
                                                    длина
                                                </span>
                                                <p>
                                                    {{ product.length }} см
                                                </p>
                                            </div>
                                            <div>
                                                x
                                            </div>
                                            <div>
                                                <span>
                                                    ширина
                                                </span>
                                                <p>
                                                    {{ product.width }} см
                                                </p>
                                            </div>
                                            <div>
                                                x
                                            </div>
                                            <div>
                                                <span>
                                                    высота
                                                </span>
                                                <p>
                                                    {{ product.height }} см
                                                </p>
                                            </div>
                                        </div>
                                        <div class="--buy-btn transition">
                                            Купить
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            {% endfor %}
                        {% else %}
                          <p class="text-center" style="margin:20px auto">Нет товаров, которые соответствуют критериям поиска.</p>
                        {% endif %}  

                      </div>
                      
                    <div class="--pagenation">
                        {{ pagination }}
                    </div>




                  </div>
              </div>
          </div>
      </div>
  </section>

</div>

{{ footer }} 
<script src="catalog/view/js/range.min.js"></script>
<script>
    $('body').addClass('body--full');
</script>