blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,p,pre,td,textarea,th,ul{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}abbr,fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ul li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit}legend{color:#000}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}img{max-width:100%;height:auto}

*,*::after,*::before {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/********************************** VARIABLES **********************************/

body {
	--color-text: #fff;
	--color-bg: #252525;
	--color-link: #fff;
	--color-link-hover: #f20c40;
	--color-bg-item1: #15171b;
	--color-bg-item2: #2c35b7;
	--color-bg-item3: #0f1013;
	--color-bg-item4: #1d2027;
	--color-bg-item5: #0f1013;
	--color-item-alt: #494d54;
	--color-quote: #5b677a;
	--color-info: #57535a;
	--color-title: #e23434;
	--color-tagline: #e2e2e2;
	font-family: "RobotoRegular", Arial, sans-serif;
	color: #57585c;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

body.active {
	overflow: hidden;
}

.border-bottom {
	border-bottom: 1px solid #ccc6;
}

/********************************** END VARIABLES **********************************/

/********************************** FONTS **********************************/
@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoLight";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

/********************************** END FONTS *********************************/

/* .--default-menu .main-content {
	height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.delivery-section {
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
} */

/********************************* MAIN STYLE *********************************/

.wrapper {
	max-width: 95%;
	margin: auto;
	/* padding: 0 15px; */
}

.menu-sidebar {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 330px;
	flex: 0 1 330px;
}

.fixed-bar {
	position: fixed;
    width: 330px;
	height: 100%;
	-webkit-box-shadow: 0 0 15px #00000052;
	box-shadow: 0 0 15px #00000052;
	z-index: 12;
}

.fixed-bar.none-bouble {
	z-index: 0;
}

.--default-menu .fixed-bar {
	background: #fff;
}

.--logo .--logo-img {
	height: 38px;
    width: 110px;
    display: inline-block;
}

.--logo, .--search {
	padding: 12px 15px;
}

.--logo-dots img {
	width: 40px;
	display: inline-block;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.--logo {
	border-bottom: 1px solid #ccc6;
}

.--search-icon {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 65px;
	flex: 0 1 65px;
}

.--search-label input {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	margin: -10px;
    padding: 10px;
}

.--menu > ul > li:first-child {
	padding: 8px;
}

.--menu > ul > li {
	-webkit-transition: all 350ms;
	transition: all 350ms;
}

.--menu > ul > li:nth-child(2){
	border-left: 5px solid #f1e67f;
}

.--menu > ul > li:nth-child(2):hover,
.--menu > ul > li.active:nth-child(2) {
	background: #f1e67f;
}

.--menu > ul > li:nth-child(2) .--menu--items-slide .-slide--items:hover {
	background: #ded055;
}

.--menu > ul > li:nth-child(3) {
	border-left: 5px solid #E7CFE0;
}

.--menu > ul > li:nth-child(3):hover,
.--menu > ul > li.active:nth-child(3) {
	background: #E7CFE0;
}

.--menu > ul > li:nth-child(3) .--menu--items-slide .-slide--items:hover {
	background: #d2b3c9;
}

.--menu > ul > li:nth-child(4) {
	border-left: 5px solid #C5D7E5;
}

.--menu > ul > li:nth-child(4):hover,
.--menu > ul > li.active:nth-child(4) {
	background: #C5D7E5;
}

.--menu > ul > li:nth-child(4) .--menu--items-slide .-slide--items:hover {
	background: #a9bdce;
}

.--menu > ul > li:nth-child(5) {
	border-left: 5px solid #DACEA1;
}

.--menu > ul > li:nth-child(5):hover,
.--menu > ul > li.active:nth-child(5) {
	background: #DACEA1;
}

.--menu > ul > li:nth-child(5) .--menu--items-slide .-slide--items:hover {
	background: #c5bb92;
}

.--menu > ul > li:nth-child(6) {
	border-left: 5px solid #D6CCE8;
}

.--menu > ul > li:nth-child(6):hover,
.--menu > ul > li.active:nth-child(6) {
	background: #D6CCE8;
}

.--menu > ul > li:nth-child(6) .--menu--items-slide .-slide--items:hover {
	background: #b8aad2;
}

.--menu > ul > li:nth-child(7) {
	border-left: 5px solid #DBEC9C;
}

.--menu > ul > li:nth-child(7):hover,
.--menu > ul > li.active:nth-child(7) {
	background: #DBEC9C;
}

.--menu > ul > li:nth-child(7) .--menu--items-slide .-slide--items:hover {
	background: #c0d086;
}

.--menu > ul > li:nth-child(8) {
	border-left: 5px solid #EEEACF;
}

.--menu > ul > li:nth-child(8):hover,
.--menu > ul > li.active:nth-child(8) {
	background: #EEEACF;
}

.--menu > ul > li:nth-child(8) .--menu--items-slide .-slide--items:hover {
	background: #cec8a3;
}

.--menu > ul > li:nth-child(9) {
	border-left: 5px solid #91d1cf;
}

.--menu > ul > li:nth-child(9):hover,
.--menu > ul > li.active:nth-child(9) {
	background: #91d1cf;
}

.--menu > ul > li:nth-child(9) .--menu--items-slide .-slide--items:hover {
	background: #79b3b1;
}

.--menu > ul > li:nth-child(10) {
	border-left: 5px solid #ff98007a;
}

.--menu > ul > li:nth-child(10):hover,
.--menu > ul > li.active:nth-child(10) {
	background: #ff98007a;
}

.--menu > ul > li:nth-child(10) .--menu--items-slide .-slide--items:hover {
	background: #deb372;
}

.--menu > ul > li:nth-child(11) {
	border-left: 5px solid #f20c40;
}

.--menu > ul > li:nth-child(11):hover,
.--menu > ul > li.active:nth-child(11) {
	background: #f20c40;
}

.--menu > ul > li:nth-child(11) .--menu--items-slide .-slide--items:hover {
	background: #ded055;
}

.--menu > ul > li:first-child.active {
	background: rgba(226, 226, 226, 0.44);
}

.--user-dropdown ul li:hover {
	background: #f1e67f;
}

.--menu--items {
	padding: 12px 8px;
	position: relative;
}

.--menu--items > span {
	font-size: 14px;
	word-break: break-all;
	line-height: 1.45;
}

.--menu--items > div {
	width: 45px;
	margin-right: 20px;
}

.--menu-img > img {
	margin: auto;
}

.--default-menu .--menu-img + span.flex-1 {
	margin-left: 20px;
}

.--menu > ul > li:not(:last-child) .--menu-img > img,
.--menu > ul > li:first-child .--search-icon > img{
	-webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.--menu > ul > li:nth-child(9) .--menu-img > img,
.--menu > ul > li:nth-child(10) .--menu-img > img {
	-webkit-transform: scale(1);
    transform: scale(1);
}

.--angle-down {
	width: 25px;
    text-align: right;
    padding: 0 5px;
}

.--angle-down svg {
	fill: #57585c;
	width: 0.5rem;
}

.--menu--items-slide {
	display: none;
}

.--menu--items-slide > .-items-slide-title {
	font-family: "RobotoMedium", serif;
	margin-bottom: 5px;
	padding: 0 10px;
}

.-slide--items {
	margin: 0px 0px 0 -10px;
    padding: 11px 20px;
}

.-slide--items_img > img {
	-webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.--menu > ul > li .-slide--items:last-child p {
	font-weight: bold;
}

.submit--form:hover,
.--buy-btn:hover {
	background: #e0d467;
}

.-slide--items_img {
	margin-right: 19px;
}

.-slide--items_img svg {
	width: 2.3rem;
}

.-slide--items_text p {
	font-size: 14px;
}

.-content_space {
	padding-left: 330px;
}

.top-header {
	position: fixed;
    z-index: 10;
    width: calc(100% - 330px);
}

.--default-menu .top-header {
	width: calc(100% - 65px);
}

.top-header-list ul > li > a {
	padding: 10px 20px;
	display: block;
	font-size: 14px;
	-webkit-transition: all 400ms;
    transition: all 400ms;
}

.top-header-list ul > li {
	position: relative;
}

.top-header-list ul > li:first-child > a {
	font-size: 1.3rem;
	font-weight: bold;
}

.top-header-list ul > li > a svg {
	width: 0.5rem;
	fill: #57585c;
}

.top-header-list ul > li > a:hover {
	color: #000;
}

.top-header-list ul > li > a:hover svg {
	fill: #000;
}

.top-header-icons > ul > .--user svg {
	width: 0.7rem;
}

/* .--default-menu .top-header-icons > ul {
	-webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
} */

.top-header-icons > ul > .--shop-basket svg,
.top-header-icons > ul > .--shop-wishlist svg {
	width: 0.85rem;
}

.--shop-basket > span,
.--shop-wishlist > span {
	position: absolute;
    right: -12px;
    top: -6px;
    background: #e23434;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 22px;
    border-radius: 100%;
    font-size: 11px;
    text-align: center;
}

.top-header-icons > ul > li {
	border: 1px solid #57585c94;
    width: 30px;
    height: 30px;
    text-align: center;
	line-height: 1.85;
	cursor: pointer;
	position: relative;
}

.top-header-icons > ul > li:hover {
	border-color: #000;
}

.top-header-icons > ul > li:hover svg {
	fill: #000;
}

.top-header-icons > ul > li:not(:last-child) {
	margin-right: 20px;
}

.top-header-icons > ul > li svg {
	fill: #57585c;
}

.top-header-icons {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 175px;
    flex: 0 1 175px;
}

.top-header-wrapper {
	padding: 10px 15px;
}

.top-header-wrapper.active {
	padding: 5px 15px;
	background: #fff;
	-webkit-box-shadow: 9px 1px 10px #0000006b;
	box-shadow: 9px 1px 10px #0000006b;
}

.hero--slider .owl-nav {
	position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 35px;
}

.hero--slider .owl-nav button {
	outline: none;
}

.hero--slider .owl-nav button:hover {
	background: initial !important;
}

.hero--slider .owl-nav button span {
	font-size: 60px;
}

.hero-slider-items {
	height: 500px;
}

.call-wrapper,
.--user-dropdown {
	position: absolute;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 7px #00000059;
            box-shadow: 0 0 7px #00000059;
	background: #fff;
	margin-top: 15px;
	display: none;
}

.call-wrapper {
	min-width: 250px;
	padding: 15px;
}

.--user-dropdown {
    min-width: 150px;
    left: -50px;
    text-align: left;
    padding: 10px 0px;
}

.--user-dropdown ul li {
	padding: 3px 15px;
}

.--user-dropdown ul li > a > svg {
	display: inline-block;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    margin-right: 8px;
}

.call-wrapper::after,
.--user-dropdown::after {
	content: '';
	position: absolute;
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fff transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #fff #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.call-wrapper::after {
	left: 80px;
}

.--user-dropdown::after {
	left: 55px;
}

.call-wrapper ul {
	margin-bottom: 10px;
}

.call-wrapper ul li {
	font-size: 13px;
	cursor: pointer;
	border-bottom: 1px dashed transparent;
}

.call-wrapper ul li:hover,
.call-wrapper > ul > li.active {
	border-bottom-color: #000;
}

.wrapper-item label {
	margin-bottom: 5px;
}

.wrapper-item label span {
	font-size: 13px;
    margin-bottom: 3px;
}

.wrapper-item label input,
.wrapper-item label textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
	padding: 6px;
	outline: none;
	font-size: 14px;
	resize: none;
}

.wrapper-items > div {
	width: 100%;
}

.wrapper-items {
	position: relative;
}

.-submit_wrapper {
	margin-top: 15px;
}

.submit--form {
    width: 100%;
    background: #f1e67f;
    border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
	-webkit-box-shadow: 0px 5px 5px #00000024;
	        box-shadow: 0px 5px 5px #00000024;
}

.basket-sidebar {
	position: fixed;
    right: 0px;
    top: 0;
    width: 600px;
    height: 100%;
    background: #fff;
	-webkit-box-shadow: -5px 0 10px #00000052;
	        box-shadow: -5px 0 10px #00000052;
	-webkit-transform: translateX(120%);
	transform: translateX(120%);
	z-index: 999;
	-webkit-transition-delay: 300ms !important;
	        transition-delay: 300ms !important;
}

.basket-sidebar.active,
.--change--conf.active {
	-webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.basket-close,
.fast-buy-modal-close {
	position: absolute;
    left: -35px;
    background: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 2.6;
    -webkit-box-shadow: -2px 1px 5px #00000085;
            box-shadow: -2px 1px 5px #00000085;
    border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
}

.basket-close svg,
.fast-buy-modal-close svg {
	width: 0.8rem;
}

.basket-box {
	height: 100%;
}

.basket--title {
	padding: 35px;
	text-align: left;
}

.basket--title h1 {
	font-size: 1.6rem;
    font-family: "RobotoBold";
}

.basket-body {
	padding: 0 25px;
}

.-body_items-img {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 110px;
    flex: 0 1 110px;
}

.-body_items-img {
	height: 110px;
}

._items-icon,
.-pay_items-icon {
    height: 80px;
}

._items-icon,
.-pay_items-icon,
.--range-start {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 80px;
    flex: 0 1 80px;
}

.-body_items-text {
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px;
}

.basket-body_items {
	margin-bottom: 20px;
}

.-body_items-text > div > a {
    text-transform: capitalize;
	font-weight: bold;
	text-align: left;
}

.-body_items-text > div > a div {
	margin-top: 6px;
    font-size: 1.5rem;
}

.-body_items-text > div > a div b {
	font-weight: normal;
}

.-body_items-text > div > a div span {
	text-transform: lowercase;
    font-size: 16px;
    font-weight: bold;
}

.-body_items-text > a {
	font-size: 13px;
    line-height: 1.4;
}

.-body_items-tex > div > p {
	text-align: center;
    padding-right: 10px;
}

.-body_items-text > div > .--remove-product svg {
	width: 0.8rem;
	display: block;
	margin-left: 30px;
	cursor: pointer;
}

.input-group {
	cursor: pointer;
}

.--remove-product {
	cursor: default;
}

.basket-footer > div {
	padding: 15px 25px;
}

.--total-sum {
	background: #f0f0f0;
}

.--total-sum > p:first-child {
	font-size: 14px;
}

.--total-sum > p:first-child > span {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}

.--total-sum > p:first-child > b {
	font-size: 1.8rem;
    margin-top: 5px;
    font-weight: 400;
}

.--total-sum > p:first-child > b span {
	font-size: 20px;
}

.--total-sum > p:last-child > span {
	font-size: 13px;
	opacity: .8;
	line-height: 1.55;
}

.--baskter-box {
	width: 100%;
    padding: 20px 10px;
    border: none;
    background: #f1e67f;
    font-size: 1.1rem;
    font-weight: bold;
	letter-spacing: .4px;
	cursor: pointer;
	color: #57585c;
}

.--banner-wrapper > a {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
	padding: 10px;
	border-bottom: 1px solid #dddddd69;
	position: relative;
}

.--banner-wrapper > a:not(:last-child) {
	border-right: 1px solid #dddddd69;
}

.--banner-wrapper > a:hover {
	background: #e2e2e23d;
}

.--banner-wrapper > a:first-child::after {
	content: '';
	background: url('../img/sale-icon.png');
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
    width: 100px;
    height: 100px;
}

.--banner-wrapper > a img {
	margin: auto;
}

.--sale_title {
	font-size: 2.6rem;
    font-family: "RobotoLight";
    text-align: center;
	border-bottom: 1px solid #dddddd69;
	padding: 2.6rem 0;
}

.top-sale-box-title {
	font-size: 1.45rem;
    font-family: "RobotoLight";
    margin-bottom: 25px;
    position: relative;
}

.top-sale-box {
	position: relative;
    z-index: 5;
}

.top-sale-box-title span {
	position: absolute;
    font-size: 15px;
    margin-left: 5px;
}

.top-sale-box-desc {
	font-size: 15px;
    line-height: 1.5;
}

.top-sale-slider {
	margin-top: 25px;
}

.--item-header {
	padding: 0 15px;
	cursor: pointer;
}

.--item-header-img {
	height: 165px;
	position: relative;
}

.--item-header-img img {
	width: initial !important;
	margin: auto;
	padding-top: 20px;
}

.--item-header-text {
	font-family: "RobotoLight";
}

.--item-header-text > h1 {
	font-size: 14px;
    opacity: 0.7;
}

.--item-header-text > p {
    margin: 8px 0 12px 0;
}

.--item-header-text > span {
	font-size: 14px;
}

.-text-const > div {
	position: relative;
}

.-text-const > div svg {
	width: 2.5rem;
	display: block;
	position: absolute;
    top: -9px;
    left: -11px;
}

.-text-const > div > span {
	font-size: 13px;
    position: relative;
    font-family: "RobotoBold";
}

.discount-svg {
	fill: #f1e67f;
}

.-text-const {
	margin-top: 2px;
}

.-text-const > span {
	text-decoration: line-through;
    opacity: .7;
	font-size: 15px;
	width: 100%;
    margin: 2px 0 5px;
}

.-text-const > p {
	font-size: 22px;
	margin-right: 30px;
}

.-text-const > p > span {
	font-size: 14px;
}

.top-sale-slider .item {
	padding: 10px 7px;
	/* height: 270px; */
}

.top-sale-slider .item.active {
	height: 450px;
}

.--item-footer {
	opacity: 0;
	position: absolute;
    top: 7px;
    left: 7px;
    height: calc(100% - 15px);
	width: calc(100% - 15px);
	-webkit-box-shadow: 0 0 15px #00000029;
	box-shadow: 0 0 15px #00000029;
	border-radius: 3px;
	padding: 15px;
	-webkit-transition: all 650ms;
	transition: all 650ms;
}

.top-sale-slider .item:hover .--item-footer,
.top-sale-slider .item:hover .--item-size,
.top-sale-slider .item:hover .--item-top-tools {
	opacity: 1;
}

.--empty-space {
	height: 100%;
}

.--item-size {
	padding: 0 15px;
	margin-top: 15px;
	opacity: 0;
	-webkit-transition: all 650ms;
	transition: all 650ms;
	font-family: "RobotoLight";
	background: #fff;
    padding-bottom: 20px;
}

.--item-size > p {
	font-size: 14px;
}

.--size_props {
	margin: 5px 0 25px 0;
}

.--size_props > div > span {
	font-size: 11px;
    text-transform: capitalize;
    opacity: .7;
}

.--size_props > div > p {
	margin-top: 5px;
    font-size: 15px;
}

.--buy-btn {
	position: relative;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 2px;
    background: #f1e67f;
    padding: 9px;
    font-size: 14px;
    -webkit-box-shadow: 0px 6px 5px #0000004a;
            box-shadow: 0px 6px 5px #0000004a;
}

.--item-top-tools {
	z-index: 1;
	padding-top: 10px;
	position: absolute;
    top: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 650ms;
	transition: all 650ms;
	color: #000;
}

.--item-top-tools > div {
	cursor: pointer;
}

.--item-top-tools > div > span {
	font-size: 13px;
	display: inline-block;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
}

.--item-top-tools > div > svg {
	width: 1rem;
    display: inline-block;
	opacity: .7;
	fill: #000;
}

.--item-top-tools > div:hover > svg {
	-webkit-transform: scale(1.35);
	transform: scale(1.35);
}

.--item-top-tools > div:hover > svg {
	opacity: 1;
}

.--item-top-tools > div:last-child > svg {
    margin-left: 4px;
}

.in--banner {
	height: 275px;
	position: relative;
	background: url('../img/banner-1.jpg');
	background-size: cover;
    background-position: center;
}

.in--banner > img {
	position: absolute;
    bottom: 0;
    right: 20px;
}

.negative-space {
	margin-top: -150px;
}

.shipping-svg {
	position: absolute;
    right: 0;
    bottom: -15px;
    right: 15px;
}

.shipping-svg {
	display: none;
}

.shipping-svg svg {
	display: block;
}

.in--banner-text {
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}

.in--banner-text {
	font-size: 2.5rem;
    font-family: "RobotoLight";
}

.--ins-box {
	border-top: 1px solid #00000024;
}

.--ins-title {
	font-size: 1.5rem;
    font-family: "RobotoLight";
}

.--ins-items {
	height: 270px;
}

.--ins-gallery .item:hover .--ins-layer {
	opacity: 1;
}

.--ins-layer {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	opacity: 0;
    background: #0f10137a;
}

.--ins-layer > div {
	color: #fff;
}

.--ins-gallery {
	border-bottom: 1px solid #00000024;
	padding-bottom: 25px;
}

.awesome-text-box {
	font-family: "RobotoLight";
	border-bottom: 1px solid #00000024;
}

.awesome-text-box > h1 {
	font-size: 1.9rem;
}

.awesome-text-box > p,
.--mechanism-desc > p,
.-list__item > p {
	line-height: 1.5;
    font-size: 14px;
    margin-top: 8px;
    letter-spacing: .5px;
}

.awesome-text_inner {
	width: 95%;
    margin: auto;
    padding: 15px;
}

.awesome-text_inner > div {
	padding: 10px;
}

.awesome-text_inner > div {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
	position: relative;
}

.awesome-text_inner > div > svg {
	margin: auto;
	height: 70px;
}

.awesome-text_inner > div > p {
	margin: 8px 0;
}

.awesome-text_inner > div > span {
    font-size: 14px;
	opacity: .8;
	line-height: 1.4;
}

.seo--text-box > div {
	padding-right: 25px;
}

.seo--text-box > div,
.product--basket > div,
.--conf-tabs_wrapper > * {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
	flex: 0 1 50%;
}

.seo--text {
	font-family: "RobotoLight";
}

.seo--text-title {
	font-size: 1.6rem;
}

.seo--text-box {
	margin-top: 15px;
}

.seo--text-box > div > p {
	font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.--footer-wr {
	background: #f0f0f0;
	font-family: "RobotoLight";
}
/* 
.-footer > div {
	padding: 0 5px;
}

.-footer > div > a:hover,
.-footer > div > p:hover {
	color: #000;
}

.-footer > div > h1,
.--win-price > p {
	font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.-footer > div > p,
.-footer > div > a {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 15px;
}

.-footer > div > a {
	display: block;
}
*/

.-footer > div > ul.--footer-soc svg {
	width: .9rem;
	opacity: .65;
}

.-footer > div > ul.--footer-soc > li {
	margin-right: 10px;
}

.-footer > div > ul.--footer-soc > li > a {
	display: block;
    border: 1px solid #00000024;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 33px;
}

.-footer > div > ul svg.--facebook {
	width: 0.45rem;
}

.--footer-links a {
    padding: 0 15px;
    font-size: 14px;
    border-right: 1px solid #00000024;
	opacity: .75;
}

.--footer-links li:first-child a {
	border-left: 1px solid #00000024;
}

.--footer-links a:hover,
.-footer > div > ul.--footer-soc li:hover svg {
	opacity: 1;
}

/* .--win-price {
	margin-top: 15px;
}

.--win-price > img {
	width: 50px;
}

.-footer > div > p > span:first-child {
	margin-top: 10px;
}  */

.modal--wrapper {
	display: none;
}

.modal-wrapper,
.--overlay,
.basket-sidebar-overlay {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000078;
	z-index: 99;
}

.basket-sidebar-overlay {
	display: none;
}

.product--main-img, .modal--body {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 800px;
    flex: 0 1 800px;
}

.product--main-img {
	height: 375px;
}

.modal--body {
	background: #fff;
	border-radius: 3px;
	font-family: "RobotoLight" ,serif;
	position: relative;
}

.modal-body-left {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 500px;
	flex: 0 1 500px;
	padding: 20px 25px;
}

.modal-body-left p {
	font-size: 15px;
}

.modal-body-left h1 {
	font-size: 22px;
    margin: 3px 0 15px 0;
}

.modal-body-right {
	-webkit-box-shadow: -4px 0px 5px #0000002b;
	box-shadow: -4px 0px 5px #0000002b;
}

.modal-main-img > img {
	display: block;
    margin: auto;
    width: 400px;
}

.modal-img-thumb img {
	padding: 5px;
    border: 1px solid #00000024;
    -webkit-transform: scale(0.85);
	transform: scale(0.85);
	cursor: pointer;
}

.modal--cost {
	padding: 20px;
	background: #f1e67f;
	position: relative;
}

.modal--cost > h1 {
	font-size: 1.9rem;
    color: #000;
}

.modal--cost > h1 > span {
	font-size: 18px;
}

.modal--cost-btn {
	margin-top: 15px;
}

.-cost--btn {
	padding: 13px 15px;
    background: white;
    font-size: 13px;
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 9px #0000003b;
            box-shadow: 0 10px 9px #0000003b;
}

.modal--cost-btn:hover {
	cursor: pointer;
}

.-cost--btn:hover {
	background: #ddd;
	-webkit-box-shadow: 0 15px 9px #0000003b;
	        box-shadow: 0 15px 9px #0000003b;
}

.--wishlist > svg {
	width: 1rem;
    display: inline-block;
    -webkit-transform: translate(-4px, 4px);
	transform: translate(-4px, 4px);
}

.--wishlist > span {
	font-size: 13px;
}

.--form-quick-view {
	position: absolute;
    left: 0;
    top: 70px;
    background: #f1e67f;
    width: 100%;
	padding: 0 20px 20px;
	display: none;
}

.--form-quick-view > div {
	margin-top: 15px;
}

.--form-quick-view > div > * {
	width: 110px;
	margin-right: 10px;
	outline: none;
	cursor: pointer;
	border: none;
}

.--form-quick-view > label > input {
	width: 100%;
    margin-top: 2px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    margin-bottom: 10px;
}

.--product--size,
.--product-view {
	padding: 0 20px 20px;
}

.--product--size > span,
.--product-view > a,
.--form-quick-view > label span {
	font-size: 13px;
}

.--product--size > div,
.--product--size > div > div > p {
	margin-top: 5px;
}

.--product--size > div > div {
	margin-right: 8px;
}

.--product--size > div > div:nth-child(even),
.--basket-size > div:nth-child(even),
.buy--info-conf .--size_props > div:nth-child(even) {
	font-size: 12px;
}

.--product--size > div > div > span {
	font-size: 12px
}

.modal--close {
	position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    -webkit-box-shadow: -3px 3px 9px #00000045;
            box-shadow: -3px 3px 9px #00000045;
	border-bottom-left-radius: 3px;
	cursor: pointer;
}

.modal--close svg {
	width: 0.8rem;
}

.--product-desc {
	padding: 15px 20px;
}

.--product-desc > p {
	font-size: 13px;
    line-height: 1.5;
}

.--heart_icon > svg.active,
.--wishlist > svg.active {
	fill: #e23434;
}

.--heart_icon {
	cursor: pointer;
}

.product--view {
	padding-top: 80px;
}

.product--crumb > a {
	display: block;
	padding: 5px 0;
    font-size: 13px;
    margin-right: 15px;
}

.product--crumb > a:hover {
	color: #000;
}

.product--crumb > a svg {
	fill: #57585c;
    width: 0.3rem;
	display: inline-block;
	-webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
}

.product--crumb > a:last-child svg {
	display: none;
}

.product--name {
	margin: 8px 0 30px 0;
    font-size: 2rem;
    font-family: "RobotoLight";
}

.product--thumbs {
	padding: 0 30px;
}

.product--thumbs > div {
	border: 1px solid #00000024;
    width: 80px;
    height: 70px;
    padding: 5px;
    float: left;
	margin: 5px;
	cursor: pointer;
	opacity: .75;
}

.product--thumbs > div.active,
.product--thumbs > div:hover {
	opacity: 1;
}

.--hero-img.active,
.--main-img-box.active,
.fadeIn {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.wrapper--product {
	background: #efefef;
}

.wrapper--product-tabs {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
	flex: 0 1 70%;
	font-family: "RobotoLight" ,serif;
}

.wrapper--product-desc {
	padding: 0 20px;
	position: relative;
}

.wrapper--product-desc .buy--info {
	position: absolute;
    width: 370px;
	top: -150px;
	margin-left: 40px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px #0000004f;
	        box-shadow: 0 0 10px #0000004f;
    overflow: hidden;
}

.--tabs-ul li.active {
	background: #e2e2e2;
}

.--tabs-ul li span {
	padding: 15px;
}

.content {
	margin-top: 15px;
}

.content section > p,
.--shipping-wrapper > p,
.text-shipping > p {
	font-size: 15px;
    line-height: 1.5;
    letter-spacing: .4px;
}

.product-gif {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 220px;
    flex: 0 1 220px;
	position: relative;
	cursor: pointer;
}

.product-gif:hover .--image-2 {
	opacity: 1;
}

.product-gif .--image-1 {
	margin: auto;
}

.product-gif .--image-2 {
	position: absolute;
    top: -2px;
    opacity: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0;
}

.--play-btn {
	width: 65px;
    height: 65px;
    text-align: center;
    line-height: 80px;
    border-radius: 100%;
    background: #000;
    opacity: .5;
}

.--play-btn svg {
	width: 1.5rem;
	fill: #fff;
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.--mechanism-desc > h1 {
	font-family: "RobotoMedium";
}

.product--mechanism {
	border: 2px solid #fff;
    border-radius: 4px;
}

.-list__item-img {
	height: 225px;
}

.-list__item {
    width: calc(33.3333% - 15px);
    margin: 0 7.5px;
}

.-list__item > h1 {
	font-size: 1.1rem;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}

.featured-list {
	margin-top: 2rem;
}

.--feedback-box {
	width: 100%;
}

.--feedback-box > a {
	padding: 10px 25px;
}

.other-conf-box {
	padding: 20px;
}

.conf-items {
	width: calc(16.66666% - 15px);
    margin: 0 7.5px;
}

.conf-items:hover .conf-items-img > img {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
}

.conf-items-desc {
	font-family: "RobotoLight" ,serif;
}

.conf-items-desc > span {
	font-size: 13px;
    opacity: .75;
}

.conf-items-desc > p {
	margin: 6px 0 10px 0;
}

.conf-items-desc > h2 {
	font-size: 14px;
}

.conf-items-desc > h1 {
	margin-top: 3px;
    font-size: 1.65rem;
}

.conf-items-img {
	position: relative;
}

.conf-items-img .shipping-svg {
	right: 30px;
}

.other-with {
	border-top: 1px solid #00000024;
}

.buy--info {
	font-family: "RobotoLight";
}

.buy--info_header {
	padding: 21px 20px;
    background: #f1e67f;
}

.buy--info_header > span {
	font-size: 13px;
    color: #000;
}

.buy--info_header > h1 {
	font-size: 2.25rem;
    color: #000;
}

.buy--info_header > h1 svg {
	width: 1.8rem
}

.buy--info_header > div {
	margin-top: 0.5rem;
}

.buy--info_header > div > a {
	border-radius: 3px;
    font-size: 15px;
}

.buy--info_header > div > a.--basket {
	padding: 10px 30px;
    text-transform: uppercase;
    background: #e6e6e6;
    -webkit-box-shadow: 0 6px 10px #00000054;
            box-shadow: 0 6px 10px #00000054;
    cursor: pointer;
}

.buy--info_header > div > a.--basket:hover {
	background: #fff;
}

.buy--info_header > div > a.--fast-buy {
	padding: 10px 25px;
    background: #fff;
}

.buy--info_header > div > a.--fast-buy:hover {
	background: #e6e6e6;
}

.buy--info-conf {
	background: #fff;
	padding: 21px 20px;
}

.buy--info-conf > h1 {
	font-size: 1.2rem;
	color: #000;
	margin-bottom: 10px;
}

.buy--info-conf > div > p {
	font-size: 13px;
}

.buy--info-conf .--size_props > div {
	margin-right: 10px;
}

.--select-leg > span, .--select-leg select {
	font-size: 14px;
}

.--select-leg select {
	width: 100%;
	margin: 5px 0 15px 0;
    padding: 5px;
	border-radius: 3px;
	border: 1px solid #00000024;
	cursor: pointer;
	outline: none;
}

.--props-desc p {
	margin-bottom: 15px;
}

.why--us_items,
.--total-sum > p {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
}

.why--us_items {
	padding: 0 20px 20px 0;
}

._items-text {
	color: #000;
}

._items-text > h1,
.-pay_items > div > h1 {
	margin-bottom: 10px;
}

._items-text > p,
.-pay_items > div > p {
	font-size: 13px;
    line-height: 1.5;
}

.-pay_items {
	margin-bottom: 15px;
}

.--shipping-pay > span {
	font-size: 13px;
    color: #000;
    margin-bottom: 10px;
}

.-pay_items-icon {
	background: url('../img/payment_types.png');
	background-repeat: repeat-y;
    width: 40px;
    height: 30px;
    margin: 5px 0;
}

.-pay_items > div > h1 img {
	position: relative;
	top: 6px;
}

.--icon-1 {
	background-position-y: 2px;
}

.--icon-2 {
	background-position-y: -28px;
}

.--icon-3 {
	background-position-y: -94px;
	height: 35px;
}

.--icon-4 {
	background-position-y: -59px;
	height: 35px;
}

.--icon-5 {
	background: url('../img/payment_type_halva.png');
	background-repeat: no-repeat;
}

.-pay_items-icon,
.--icon-5 {
	background-size: 40px;
    background-position-x: center;
}

table {
    font-size: 12px;
    border-collapse: collapse;
}

table, table td {
    border: 1px solid #c6c6c6;
}

table thead {
    color: #8d8d8d;
}

table tr {
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

table td {
	padding: 20px;
	color: #000;
	line-height: 1.7;
}

table thead {
    color: #8d8d8d;
}

table tr:hover td {
    background-color: #e2e2e2;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

.catalog-settings {
	font-size: 15px;
	background: #efefef;
}

.catalog--filter {
    width: 260px;
	text-align: center;
	background: #f1e67f;
	border-right: 1px solid #fff;
}

.catalog-settings svg {
	width: 0.5rem;
	display: inline-block;
	-webkit-transform: translate(7px, 2px);
	transform: translate(7px, 2px);
}

.catalog-settings > div {
	padding: 2rem;
	cursor: pointer;
	position: relative;
}

.--sort-dropdown {
	position: absolute;
    z-index: 3;
    background: #fff;
    width: 200px;
    left: 0;
    border-radius: 3px;
    box-shadow: 0 0 11px #00000036;
    margin-top: 10px;
	/*padding-bottom: 10px;*/
	display: none;
}

.--sort-dropdown-header {
	padding: 10px;
	border-bottom: 1px solid #00000024;
	margin-bottom: 5px;
}

.--sort-dropdown-header > h1 {
	font-size: 13px;
}

.--sort-dropdown-header > svg {
	-webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
}

.--sort-list {
	padding: 7px 10px;
    font-size: 13px;
}

.--sort-list:hover {
	background: #f1e67f;
}

.catalog-sort-money {
	width: 220px;
}

.catalog--filters {
	width: 260px;
	border-right: 1px solid #00000024;
	padding: 20px;
	display: block;
}

.catalog--filters.active {
	display: none;
}

.catalog--items-wrapper {
	padding: 20px;
}

.catalog--items-wrapper.active .catalog--items {
	width: calc(20% - 15px);
}

.catalog--items .item {
	position: relative;
}

.catalog--items:hover .item .--item-size {
	opacity: 1;
}

.catalog--filters-items > h1 {
	font-weight: bold;
    font-size: 15px;
}

.catalog--filters-items > span {
	font-size: 13px;
    margin: 3px 0 12px 0;
    opacity: .7;
}

.--range-filter {
	font-size: 13px;
    font-weight: bold;
    margin: 0px 0 15px;
}

.--range-end {
	text-align: right;
}

.catalog--filters-items {
	margin-bottom: 35px;
}

.--filter-color {
	margin-bottom: 10px;
    cursor: pointer;
}

.-color-item {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 15px;
    border-radius: 2px;
	margin-right: 10px;
	border: 1px solid #00000029;
	background-color: #fff;
}

.-color-item svg {
	width: 0.5rem;
	opacity: 0;
}

.-color-item svg.active {
	opacity: 1;
}

.--filter-color p {
	font-size: 13px;
}

.catalog--items_img {
	height: 175px;
}

.catalog--items {
	width: calc(25% - 15px);
    margin: 0 0px 15px;
    display: inline-block;
    border-radius: 3px;
    padding: 15px;
    -webkit-transition: all 650ms;
    transition: all 650ms;
}

.catalog--items:hover {
	-webkit-box-shadow: 0 0 12px #00000085;
	        box-shadow: 0 0 12px #00000085;
	cursor: pointer;
}

.catalog--items:hover .--item-top-tools {
	opacity: 1;
}

.catalog--items_descr {
	font-family: "RobotoLight";
}

.catalog--items_descr > span {
	padding: 8px 0;
    font-size: 13px;
}

.catalog--items_descr > p {
	font-size: 18px;
	font-weight: bold;
    min-height: 40px;
    max-height: 40px;
}

.catalog--items_descr > h3 {
	font-size: 14px;
}

.catalog--items_descr .catalog--cost > h1 {
	font-size: 1.5rem;
}

.catalog--items_img .--item-top-tools {
	background: #ffffffa1;
	padding: 10px;
}

.catalog--items:hover .--anchor_product {
	opacity: 1;
}

.--anchor_product {
	margin-top: 25px;
	margin-bottom: 10px;
	opacity: 0;
}

.product--basket {
	font-family: "RobotoLight",serif;
}

.relative {
	position: relative;
}

.bottom-side {
	position: absolute !important;
    bottom: 25px;
	top: initial !important;
	right: 15px !important;
}

.basket_items-item,
.product--basket_info > form {
	-webkit-box-shadow: 0 0 10px #0000003b;
	box-shadow: 0 0 10px #0000003b;
    border-radius: 3px;
	position: relative;
}

.product--basket_info > form {
	position: absolute;
	right: 50px;
}

.product--basket_info > form.active {
	position: fixed;
	top: 65px;
}

.basket_items-item {
	margin: 0 0px 25px 0;
}

.product--basket_items,
.product--count,
.--form-def {
	padding: 20px;
}

.basket_items-item {
    color: #000;
}

.product--basket_items > span {
	font-size: 13px;
    opacity: .7;
}

.product--basket_items > h1 {
    margin: 5px 0 15px 0;
}

.basket-item-in_img {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
}

.item-var-text > span {
	opacity: .75;
    font-size: 11px;
}

.item-var-text > p {
	font-size: 13px;
    margin: 12px 0 3px 0;
}

.item-var-text > h2,
.basket-item-in-desc > p,
.product--count > div > p {
	font-size: 14px;
}

.item-var_color {
	width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.basket-item-in-desc > p {
	margin: 15px 0 8px;
	line-height: 1.5;
}

.--basket-size > div {
	margin-right: 8px;
}

.--basket-size > div > span {
	margin-bottom: 5px;
    font-size: 12px;
    opacity: .75;
}

.--basket-size > div > p {
	font-size: 15px;
}

.product--count {
	border-top: 1px solid #00000024;
}

.product--count > .flex-1 {
	padding: 0 20px;
	font-size: 1.4rem;
}

.--form-def {
	border-bottom: 1px solid #eee;
}

.--form-def > span, .--form-def > label {
	margin-bottom: 15px;
    color: #000;
}

.--form-def > label span {
	font-size: 14px;
    width: 170px;
}

.--form-def > label input {
	padding: 6px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    font-size: 13px;
}

.--type-shipping > label {
	cursor: pointer;
	margin-right: 15px;
	position: relative;
}

.--type-shipping > label > svg,
.--type-shipping > label > span {
	opacity: .5;
	font-size: 14px;
}

.--type-shipping > label:hover > *,
.--type-shipping .active {
	opacity: 1;
}

.--shipping-overlay {
	position: absolute;
    width: 450px;
    background: #fff;
    -webkit-box-shadow: 0 0 13px #0000008a;
            box-shadow: 0 0 13px #0000008a;
    border-radius: 4px;
    padding: 20px;
    font-size: 14px;
    line-height: 2;
    z-index: 1;
	bottom: 52px;
	display: none;
}

.--type-shipping > label:hover .--shipping-overlay {
	display: block;
}

.--shipping-address {
	padding: 20px 0;
    border-bottom: 0;
}

.checkout-order > div:first-child {
	padding-right: 30px;
}

.checkout-order > div:last-child {
	padding-left: 30px;
}

.checkout-order > div:last-child > b:last-child {
	font-size: 1.5rem;
}

.--ct-txt {
	font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}

.--overlay {
	display: none;
}

.--change--conf {
	position: absolute;
	top: 0;
  	right: 0;
  	width: 900px;
	height: 100%;
	font-family: "RobotoLight";
	overflow-y: scroll;
  	overflow-x: hidden;
	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
}

.--jsScroll {
	position: absolute;
	width: 100%;
	top: 0;
}

.--change-main-img {
  height: 60vh;
	background: #fff;
}

.--change-conf-header {
	position: fixed;
	width: 885px;
	padding: 20px;
	background: #fff;
	z-index: 1;
	top: 0;
}
.--change-conf-header.active {
	-webkit-box-shadow: 0px 4px 12px #00000014;
	box-shadow: 0px 4px 12px #00000014;
}

.--change-conf-header > div {
	padding: 0 15px;
}

.--change-conf-header > div:first-child {
	padding-left: 0;
	cursor: pointer;
}

.--change-conf-header > div:last-child {
	padding-right: 0;
}

.--change-conf-header > div > span {
	padding: 10px 15px;
	background: #f0f0f0;
	display: inline-block;
	font-size: 14px;
}

.--change-conf-header > div > span svg {
	width: 0.45rem;
	-webkit-transform: translateY(2px);
	        transform: translateY(2px);
}

.--change-conf-header > div > span b {
	font-weight: normal;
}

.--change-conf-header > div > p,
.--change-conf-header > div > h1 {
	font-size: 1.5rem;
}

.--change-conf-header > div:last-child {
	width: 200px;
	text-align: center;
}

.--conf-li-img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: #e5dcc3;
	margin-right: 10px;
}

.--conf-tabs-li {
	background: #fff;
}

.--conf-tabs-li li {
	padding: 15px 25px;
	font-size: 14px;
	cursor: pointer;
}

.--conf-tabs-li li.active,
.--conf-tabs-content {
	background: #f1f1f1;
}

.--conf-tabs-content {
	padding: 20px;
}

.--conf-tabs-color-name p svg {
	width: 1rem;
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
	opacity: .75;
}

.--conf-tabs-color-name {
	padding: 20px 0;
}

.--conf-info {
	margin: 0 -20px;
  background: #fff;
  padding: 20px;
	font-size: 15px;
	line-height: 1.5;
	display: none;
	margin-bottom: 20px;
}

.--conf-info > p {
	margin-bottom: 10px;
}

.--conf-info > h2 {
	margin: 5px 0 0;
}

.--conf-info > h2 > span {
	opacity: .75;
}

.color-items_item {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin: 8px;
	cursor: pointer;
	border: 5px solid transparent;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	position: relative;
}

.color-items_item.active,
.color-items_item:hover {
	border-color: #f1e67f;
}

.--conf-hover-img {
	position: absolute;
	bottom: 20px;
	width: 250px;
	z-index: -1;
	left: 25px;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 20px #0000003d;
	box-shadow: 0 0 20px #0000003d;
	opacity: 0;
}

.color-items_item:hover .--conf-hover-img {
	opacity: 1;
	bottom: 30px;
	z-index: 1;
}

.color-items_item.active:hover .--conf-hover-img {
	opacity: 0;
	z-index: -1;
}

.--conf-hover-img > div {
	height: 250px;
}

.--conf-hover-img > p {
	padding: 20px;
	background: #fff;
}

.--conf-tabs_wrapper {
	background: #fff;
}

.--collection-list-items {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #000;
	margin-right: 5px;
	cursor: pointer;
}

.top-sale-slider .owl-nav {
	position: absolute;
	top: 50%;
	margin: 0;
	width: 100%;
	-webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

.top-sale-slider .owl-nav button {
	width: 35px;
    height: 35px;
	border-radius: 100% !important;
	z-index: 99;
    background: #fff;
	box-shadow: 0 0 20px #00000040;
	outline: none;
}

.top-sale-slider  .owl-carousel .owl-nav.disabled {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.top-sale-slider .owl-nav button span {
	font-size: 25px;
}

.-footer > div {
	padding: 0 25px 0 0;
}

.-footer > div > p {
	font-size: 13.5px;
}

.--pagenation {
	margin-right: 130px;
    font-size: 14px;
	margin-top: 60px;
	margin-bottom: 50px;
}

.--pagenation ul a {
	display: block;
}

.--pagenation svg {
	width: 0.5rem;
	-webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
	transform: translateY(3px);
}

.--pagenation ul a {
    width: 30px;
    border: 1px solid #00000050;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    margin: 0 6px;
}

.--pagenation ul a:hover {
	border: 1px solid #000;
}

.about-project,
.delivery-section {
	font-family: "RobotoLight", serif;
	font-size: 14px;
    line-height: 1.5;
}

.about-banner {
	height: 500px;
	margin-top: 1rem;
}

.--tabs_list, .--service_list {
	margin-bottom: 15px;
}

.--tabs_list li, .--service_list li {
	padding: 8px 16px;
	cursor: pointer;
	transition: all 350ms;
}

.--tabs_list li.active,
.--tabs_list li:hover,
.--service_list li.active,
.--service_list li:hover {
	background: #f0f0f0;
}

.our--advantage > p,
.cost-service > p,
.return_product > p,
.warranty--back > p {
	font-size: 2rem;
}

.our--advantage_items > p {
	font-size: 13.5px;
}

.our--advantage_items {
	-webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
	flex: 0 1 25%;
	padding: 0 15px 25px;
}

.our--advantage_items:first-child {
	padding-left: 0;
}

.our--advantage_items > div {
    width: 63px;
    height: 60px;
    margin-bottom: 10px;
    background: url('../img/advantage.png') -85px 0 no-repeat;
}

.our--advantage_items:nth-child(2) > div {
	background: url('../img/advantage.png') 19px 0 no-repeat;
}

.our--advantage_items:nth-child(3) > div {
	background: url('../img/advantage.png') -149px 0 no-repeat;
}

.our--advantage_items:nth-child(4) > div {
	background: url(../img/advantage.png) -44px 0 no-repeat;
    width: 41px;
}

.return_product--list li {
	line-height: 2.2;
}

.attention-text {
	background: url('../img/attention.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
	padding-left: 50px;
    margin-left: 25px;
    width: 80%;  
}

.--tabs_payment-items {
	margin-bottom: 20px;
}

.payment-items_icon {
	background: url('../img/payment_types.png');
	background-repeat: no-repeat;
	width: 40px;
	height: 28px;
}

.--tabs_payment-items > p {
	font-size: 1.1rem;
    margin: 5px 0;
}

.--tabs_payment-items > span {
	font-size: 13px;
}

.--tabs_payment-items:nth-child(2) .payment-items_icon {
	background-position: 0px -27px;
    height: 32px;
}

.--tabs_payment-items:nth-child(3) .payment-items_icon {
    background-position: 0px -95px;
    height: 37px;
}

.--tabs_payment-items:nth-child(4) .payment-items_icon {
    background-position: 0px -58px;
    height: 37px;
}

.--tabs_payment-items:nth-child(5) .payment-items_icon {
    background: url('../img/payment_type_halva.png');
	width: 50px;
	background-repeat: no-repeat;
}

.warranty-period {
	background: #0000001f;
	font-size: 1.9rem;
}

.warranty--back-box {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-bottom: 20px;
}

.warranty--back-icon {
    width: 60px;
    height: 40px;
    background: url(../img/return.png);
    background-repeat: no-repeat;
    margin: 0 auto 15px;
    background-position: 1px -79px;
}

.warranty--back-box:nth-child(2) .warranty--back-icon {
	background-position: 0 0px;
}

.warranty--back-box:nth-child(3) .warranty--back-icon {
	background-position: 0 -37px;
}

.warranty--back-box > p {
	padding: 0 50px;
	line-height: 2;
}

.--catalog-container-item {
	position: relative;
	width: calc(20% - 30px);
	margin: 0 15px -30px 15px;
}

.--catalog--inner-img {
	height: 170px;
	margin-bottom: 10px;
}

.--catalog--inner {
	cursor: pointer;
	padding: 50px 20px 20px;
}

.--catalog--inner-text,
.--catalog-product-crumb {
	font-family: "RobotoLight", serif;
}

.--catalog-product-crumb {
	padding: 15px 15px 5px;
}

.--catalog-product-crumb > p {
	font-size: 1.5rem;
}

.--catalog-product-crumb > p > span > span {
	font-size: 16px;
}

.--catalog--inner-text > span {
	font-size: 13px;
    opacity: .7;
}

.--catalog--inner-text > p {
	font-size: 14px;
    line-height: 20px;
    margin: 5px 0 10px 0;
    color: #000;
}

.--catalog--inner-text > h1 {
	font-size: 14px;
    color: #000;
    margin-bottom: -6px;
}

.--catalog--inner-text > div > u {
	text-decoration: line-through;
	opacity: .75;
	font-size: 14px;
	width: 100%;
    margin: 10px 0 5px;
}

.--catalog--inner-text > div > p {
	font-size: 18px;
	margin-right: 15px;
}

.--catalog--inner-text > div > p > span {
	font-size: 14px;
}

.--catalog--inner-text > div > div {
	position: relative;
}

.--catalog--inner-text > div > div > svg {
	width: 2.2rem;
	height: 1.4rem;
}

.--catalog--inner-text > div > div > span {
	position: absolute;
    font-size: 11px;
    top: 5px;
    font-weight: bold;
    left: 8px;
}

.--catalog-container-item-hover {
	position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 0 14px #00000054;
    z-index: 1;
	border-radius: 5px;
	display: none;
}

.--catalog-container-item-hover:hover .--item-top-tools,
.--catalog-container-item-hover:hover .--item-size {
	opacity: 1;
}

.--catalog-container-item-hover .--item-top-tools {
	padding: 20px 20px 10px;
    background: #ffffff;
}

.--empty-state {
	height: 365px;
}

.--catalog-container-item-hover  .--item-size {
	padding: 0 20px 25px;
	width: 100%;
}

.--catalog--inner-img > img {
	margin: auto;
}

.--navigation-menu {
	width: 35px;
	height: 23px;
	margin-top: 8px;
	cursor: pointer;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.--navigation-menu > div {
	height: 3px;
    background: #0f1013cc;
}

.--navigation-menu:hover > div {
	background: #000;
}

.--navigation-menu:hover > div:first-child {
	transform: translateY(-1px);
}

.--navigation-menu:hover > div:last-child {
	transform: translateY(1px);
}

.--default-menu .--logo > a,
.--default-menu .--menu--items > span,
.--default-menu .--menu--items > i {
	display: none;
}

.--default-menu .--menu-img {
	margin-right: 0;
}

.--default-menu .fixed-bar {
	width: 65px;
}

.--default-menu .fixed-bar.active {
	width: 330px;
}

.--default-menu .fixed-bar.event {
	width: 330px;
}

.--default-menu .fixed-bar.active .--logo > a,
.--default-menu .fixed-bar.event .--logo > a,
.fast-buy-modal.active,
.--default-menu .fixed-bar.active .--menu--items > span,
.--default-menu .fixed-bar.event .--menu--items > span,
.--default-menu .fixed-bar.active .--menu--items > i,
.--default-menu .fixed-bar.event .--menu--items > i {
	display: block;
}

.--default-menu .-content_space {
	padding-left: 65px;
}

.--default-menu .-content_space.active {
	padding-left: 330px;
}

.--body-fix .--navigation-menu,
.fast-buy-modal {
	display: none;
}

.fast-buy-modal {
	z-index: 99;
    width: 650px;
	background: #fff;
	border-radius: 4px;
	position: fixed !important;
}

.fast-buy-modal .fast-buy-modal-close {
	top: -15px;
    right: -15px;
    left: initial;
    border-radius: 100%;
}

.fast-buy-form {
	padding: 35px 30px;
    font-family: "RobotoLight";
}

.fast-buy-form > span {
	font-size: 13px;
}

.fast-buy-form > p {
	margin: 5px 0 10px;
    font-size: 1.5rem;
}

.fast-buy-form > p > span {
	display: inline-block;
    margin-left: 10px;
}

.fast-buy-form > p > span span {
	font-size: 18px;
}

.form--label {
	margin-bottom: 10px;
}

.form--label > span {
	font-size: 13px;
    margin-bottom: 5px;
}

.fast-buy-modal-send input {
	padding: 8px 24px;
    font-size: 13px;
    border: none;
    background: #f1e67f;
    border-radius: 3px;
    cursor: pointer;
}

.fast-buy-modal-send input:hover {
	background: #d8cd6a;
}

.accordion-panel > p {
	margin-bottom: 5px;
    line-height: 1.5;
}

.font--bold {
	font-weight: bold;
}

.confirm--order {
	padding: 20px;
}

.fast-buy-form > h1 {
	font-size: 14px;
    line-height: 1.6;
}

.__back-anchor {
	display: inline-block;
    font-size: 14px;
    background: #f1e67f;
    padding: 10px 25px;
    border-radius: 3px;
    margin-top: 20px;
}

.body--full {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
}

.body--full .main-content:nth-child(3) {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 100px;
}

.--search-wrapper {
	/* display: none; */
	visibility: hidden;
	position: fixed;
    top: 0;
    left: 330px;
    width: 400px;
    height: 100%;
	background: #ffffff;
	font-family: "RobotoLight";
}
/* 
.--search-wrapper.active {
	visibility: visible;
} */

.--search-wrapper > div {
	height: 100%;
}

.--search-wrapper {
	box-shadow: 1px 0 10px #00000030;
}

.--search-wrapper-header {
	padding: 23px 35px 14px;
}

.--search-wrapper-header > p {
	font-size: 1.5rem;
}

.--search-wrapper-header > svg {
	width: 1rem;
    cursor: pointer;
}

.--search-wrapper-footer {
	margin-top: auto;
	cursor: pointer;
}

.--search-wrapper-body {
	font-size: .85rem;
}

.--search-wrapper-ul-category li a,
.--search-wrapper-ul-product li a {
	display: block;
	padding: 15px 35px;
	border-bottom: 1px solid #ccc6;
}

.--search-wrapper-ul-category li a:hover,
.--search-wrapper-ul-product li > a:hover {
	background: #cccccc4a;
}

.ul-product-desc {
	padding-left: 15px;
}

.ul-product-desc > span {
	margin-top: 8px;
    font-size: 14px;
}

.--search-wrapper-ul-product li > a {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.--search-wrapper-footer > a {
	padding: 20px;
    background: #f1e67f;
}

.--search-wrapper-footer > a:hover {
	background: #d6cb64;
}

/********************************* END MAIN STYLE *****************************/

/************************** HELPER CLASSES ***********************************/

.--form-input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0 0 5px #00000094;
    box-shadow: inset 0 0 2px #00000066;
    outline: none;
    font-size: 14px;
}

.max-none {
	max-width: none !important;
}

.d-block {
	display: block;
}

.box-center {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.d-flex,
.child--center,
.hero--slider .owl-nav,
.top-sale-slider .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.f-wrap {
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

.flex-1 {
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.align-center,
.child--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-center,
.child--center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.jfy-bwn,
.top-sale-slider .owl-nav,
.hero--slider .owl-nav {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.f-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.d--table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.transition {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.m-4 {
	margin: 4rem 0;
}

.p-1 {
	padding: 1rem 0;
}

.p-2 {
	padding: 2rem 0;
}

.p-4 {
	padding: 4rem 0;
}

.text-center {
	text-align: center;
}

/************************* END HELPER CLASSES ********************************/


/* ****************************** MEDIA QUERY *****************************/

@media (max-width: 1650px) {

}

@media (max-width: 1440px) {
	.product--basket > div:first-child {
		-webkit-box-flex: 0;
    	-ms-flex: 0 1 40%;
    	flex: 0 1 40%;
	}
	.basket-item-in,
	.product--count {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.basket-item-in_img {
		margin: auto;
	}
	.product--count > div:first-child {
		width: 100%;
	}
	.product--count > div.flex-1 {
		padding: 8px 0;
	}
	.--catalog-container-item {
		width: calc(25% - 30px);
	}
	.wrapper--product-tabs {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 60%;
		flex: 0 1 60%;
	}
	.conf-items{
		width: calc(25% - 15px);
	}
	.-list__item {
		width: calc(50% - 15px);
		margin: 15px 7.5px;
	}
	.wrapper--product-desc .buy--info {
		top: 0px;
	}
}

@media (max-width: 1281px) {
	.-text-const > p {
		font-size: 18px;
	}
	.top-header-list ul > li > a {
		padding: 10px;
	}
	.product--basket_info > form {
		width: 520px;
	}
	.--catalog-container-item {
		width: calc(33% - 30px);
	}
	.--catalog-container-items.active .--catalog-container-item {
		width: calc(25% - 30px);
	}
	.warranty--back-box {
		width: 49%;
	}
}

@media (max-width: 1024px) {
	.--body-fix .--navigation-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.-footer {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.-footer > div:first-child {
		width: 100%;
		order: 1;
		text-align: center;
		padding: 15px;
	}
	.product--basket_info > form {
		width: 475px;
	}
	.checkout-order > div:first-child {
		padding-right: 0;
	}
	.checkout-order > div:last-child > b:last-child {
		font-size: 1rem;
	}
	.--catalog-container-item {
		width: calc(50% - 30px);
	}
	.--catalog-container-items.active .--catalog-container-item {
		width: calc(33% - 30px);
	}
	.conf-items {
		width: calc(33% - 15px);
	}
	.--item-top-tools {
		opacity: 1;
	}
	.-text-const > p {
		margin-right: 20px;
	}
	.awesome-text_inner {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
    	-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.awesome-text_inner > div {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 50%;
		flex: 0 1 50%;
	}
}

@media (max-width: 992px) {
	.product--basket_info > form {
		right: 25px;
	}
	.bottom-side {
		right: 2px !important;
	}
}

@media (max-width: 848px) {
	.product--basket_info > form, .--shipping-overlay  {
		width: 300px;
	}
	.shiping--2 .--shipping-overlay {
		left: -130px;
	}
	.basket-item-in-desc > div,
	.--shipping-items,
	.checkout-order,
	.our--advantage > div {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.basket-item-var {
		margin-bottom: 8px;
	}
	.basket-item-var,
	.checkout-order > div,
	.why--us_items {
		-webkit-box-flex: 0;
    	-ms-flex: 0 1 100%;
    	flex: 0 1 100%;
	}
	.checkout-order > div:first-child {
		order: 1;
	}
	.checkout-order > div:last-child {
		padding: 0 0px 20px 0px;
	}
	.product--basket > div:first-child,
	.our--advantage_items {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 50%;
		flex: 0 1 50%;
	}
	.--form-def > label span {
		font-size: 13px;
	}
	.--shipping-items > label {
		margin: 0 0 8px 0;
	}
	.product--count > div > h1 {
		font-size: 18px;
	}
	.--catalog-container-items.active .--catalog-container-item {
		width: calc(50% - 30px);
	}
	.our--advantage_items > div {
		margin-left: auto;
		margin-right: auto;
	}
	.our--advantage_items {
		text-align: center;
	}
	.modal--body {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 700px;
		flex: 0 1 700px;
	}
	.modal-body-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 400px;
		flex: 0 1 400px;
	}
}

@media (max-width: 768px) {
	.awesome-text_inner > div {
		-webkit-box-flex: 0;
    	-ms-flex: 0 1 33%;
    	flex: 0 1 33%;
	}
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}


@media screen and (min-width: 848px) {

}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	.--ins-items {
		height: 225px;
	}
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/* .product--basket_info > form {
		right: 25px;
	}
	.bottom-side {
		right: 7px !important;
	} */
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}

/************************** END MEDIA QUERY *************************************/


.--pagenation > ul > li a.active {
	background: #f1e67f;
	color: #fff;
	border-color: #f1e67f; 
}
