<template>
    <div class="container">
        <question :question="question"></question>
        <answers :question = "question"></answers>
    </div>
</template>

<script>
import Answer from '../components/Answer';
import Question from '../components/Question';
export default {
    components: { Question , Answer },
    props: ['question']
}
</script>
