
{% for filter_group in filter_groups %}
  <div class="catalog--filters-items">
    <h1>
      {{ filter_group.name }}
    </h1>
    <span class="d-block">
        Выберите значения:
    </span>
    {% for filter in filter_group.filter %}
      {% if filter.filter_id in filter_category %}
        <div class="--filter-color d-flex align-center">
            <label class="-color-item" style="background-color: #fff;">
                <svg xmlns="http://www.w3.org/2000/svg" name="filter-svg[]" class="transition active" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>                              
            </label>
            <p>
                {{ filter.name }}
            </p>
            <input type="checkbox" name="filter[]" checked="true" value="{{ filter.filter_id }}" style="display:none" />
        </div>
      {% else %}
          <div class="--filter-color d-flex align-center">
            <label class="-color-item" style="background-color: #fff;">
                <svg xmlns="http://www.w3.org/2000/svg" name="filter-svg[]" class="transition" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>                              
            </label>
            <p>
                {{ filter.name }}
            </p>
            <input type="checkbox" name="filter[]"  value="{{ filter.filter_id }}" style="display:none"/>
        </div>
      {% endif %}
    {% endfor %}

  </div>
{% endfor %}
    <div class="p-1">
        <button class="submit--form d-block transition" id="button-filter">
            Применить
        </button>
        <br>
        <button class="submit--form d-block transition" id="reset-filter">
            Сброс
        </button>
    </div>
<script type="text/javascript">
  $('#button-filter').on('click', function() {
    filter = [];

    $('input[name^=\'filter\']:checked').each(function(element) {
      filter.push(this.value);
    });
    var minPrice = $('#price-min-value').val();
    var maxPrice = $('#price-max-value').val();

    location = '{{ action }}&filter=' + filter.join(',') + '&min-price=' + minPrice + '&max-price=' + maxPrice;
  });
  $('#reset-filter').on('click',function() {
    $('input[name^=\'filter\']:checked').each(function(element) {
      this.checked = false
    });
    $('svg[name^=\'filter-svg\']').each(function(element) {
        this.classList.remove('active');
    });
  });
</script> 
