{{ header }}
    <div class="main-content">
      <section class="product--view">
          <div class="-content_space">
              <div class="wrapper">
                  <div class="product-view-wrapper">
                      <div class="product--crumb d-flex">
                        {% for breadcrumb in breadcrumbs %}
                          <a href="{{ breadcrumb.href }}">
                              <span>{{ breadcrumb.text }}</span>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                          </a>
                        {% endfor %}
                      </div>
                      <div class="product--name">
                          Оформление заказа
                      </div>

                      <div class="product--basket d-flex jfy-bwn">
                          <div class="">
                            {% for product in products %}
                              <div class="basket_items-item">
                                  <div class="product--basket_items">
                                      <span>
                                          {{ product.category_name }}
                                      </span>
                                      <h1>
                                          {{ product.name }}
                                      </h1>

                                      <div class="basket-item-in d-flex">
                                          <div class="basket-item-in_img">
                                              <img src="{{ product.thumb }}" alt="" class="d-block">
                                          </div>
                                          <div class="basket-item-in-desc flex-1">
                                              <div class="d-flex">
                                                {% for color in product.option %}
                                                  <div class="basket-item-var d-flex flex-1">
                                                      <div class="item-var_color" 
                                                          style="background: url({{ color.image }});
                                                          background-size: cover;">
                                                      </div>
                                                      <div class="item-var-text">
                                                          <p>
                                                              {{ color.name }}
                                                          </p>
                                                      </div>
                                                  </div>
                                                {% endfor %}
                                              </div>
                                              <p>
                                                  Размеры
                                              </p>
                                              <div class="--basket-size d-flex align-center">
                                                  <div>
                                                      <span class="d-block">
                                                          Длина
                                                      </span>
                                                      <p>
                                                          {{ product.length }} см
                                                      </p>
                                                  </div>
                                                  <div>
                                                      х
                                                  </div>
                                                  <div>
                                                      <span class="d-block">
                                                          Ширина
                                                      </span>
                                                      <p>
                                                          {{ product.width }} см
                                                      </p>
                                                  </div>
                                                  <div>
                                                      x
                                                  </div>
                                                  <div>
                                                      <span class="d-block">
                                                          Высота
                                                      </span>
                                                      <p>
                                                          {{ product.height }} см
                                                      </p>
                                                  </div>
                                              </div>
                                              <p>
                                                {% for attribute_group in product.attribute_groups %}
                                                    {% for attribute in attribute_group.attribute %}
                                                     {{ attribute.name }}: {{ attribute.text }},
                                                    {% endfor %}
                                                {% endfor %}
                                              </p>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="product--count d-flex align-center">
                                      <div>
                                          <p>
                                              Цена без учета доставки:
                                          </p>
                                      </div>
                                      <div class="flex-1">
                                          <h1>
                                              {{ product.price }}
                                          </h1>
                                      </div>
                                      <div>
                                          <div class="input-group">
                                              <input type="button" value="-" class="button-minus" data-field="quantity">
                                              <input type="number" disabled step="1" max="" value="{{ product.quantity }}" name="quantity" class="quantity-field">
                                              <input type="button" value="+" class="button-plus" data-field="quantity">
                                              <input type="hidden" value="{{ product.cart_id }}" name="quantityCartId"/>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="modal--close" onclick="cart.remove('{{ product.cart_id }}');">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
                                  </div>
                              </div>
                            {% endfor %}
                          </div>
                          <div class="product--basket_info ">
                              <form action="">
                                  <div class="--form-def">
                                      <span class="d-block">Заполните информацию о себе</span>
                                      <label for="name" class="d-flex align-center">
                                          <span>
                                              Имя
                                          </span>
                                          <input type="text" id="name" class="flex-1">
                                      </label>
                                      <label for="email" class="d-flex align-center">
                                          <span>
                                              Электронная почта 
                                          </span>
                                          <input type="text" id="email" class="flex-1">
                                      </label>
                                      <label for="phone" class="d-flex align-center">
                                          <span>
                                              Мобильный телефон 
                                          </span>
                                          <input type="text" id="phone" class="--phone flex-1" placeholder="+9__ (__) ___ __ __" data-mask="+900 (00) 000 00 00">
                                      </label>
                                  </div>

                                  <div class="--form-def --form-shipping">
                                      <span class="d-block">Выберите способ доставки</span>

                                      <div class="--type-shipping d-flex align-center">
                                          <label for="shiping-1" class="shiping--1 d-flex align-center">
                                              <input type="radio" id="shiping-1" name="shipping" style="display: none;">
                                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44px" height="38px" viewBox="0 0 44 38" enable-background="new 0 0 44 38" xml:space="preserve">
                                                  <rect x="6.5" y="8.5" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="18" height="13"/>
                                                  <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M8.5,22.5v3c0,0,0,2,2,2s2,0,2,0"/>
                                                  <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M25.5,12.5h3l6,7v6c0,0,0,2-2,2s-2,0-2,0"/>
                                                  <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="15.5" cy="27.5" r="3"/>
                                                  <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="27.5" cy="27.5" r="3"/>
                                                  <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="18.5" y1="27.5" x2="24.5" y2="27.5"/>
                                              </svg>
                                              <span>Курьером</span>

                                              <div class="--shipping-overlay">
                                                  <p>
                                                      Курьер доставляет вам товар, а вы тщательно осматриваете заказ, после чего
                                                      производите оплату. Курьер предоставит вам товарный и кассовый чек. Данный способ
                                                      оплаты товара доступен для Москвы и Московской области. Доставка в другие города России 
                                                      осуществляется транспортными компаниями, подробные условия уточняйте у наших менеджеров.
                                                  </p>
                                              </div>
                                          </label>
                                          <label for="shiping-2" class="shiping--2 d-flex align-center">
                                              <input type="radio" id="shiping-2" name="shipping" style="display: none;">
                                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44px" height="38px" viewBox="0 0 44 38" enable-background="new 0 0 44 38" xml:space="preserve">
                                                  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="5.5,6.5 11.5,9.5 16.5,27.5 "/>
                                                  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="14.5,19.083 28.21,15.315 31.271,25.722 18.708,29 "/>
                                                  <circle fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="16" cy="30" r="2.5"/>
                                                  <rect x="17.993" y="8.309" transform="matrix(0.9621 -0.2725 0.2725 0.9621 -2.4653 6.8687)" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" width="11" height="8"/>
                                              </svg>
                                              <span>Самовывоз</span>

                                              <div class="--shipping-overlay">
                                                  <p>
                                                      Адрес пункта самовывоза: Московская обл., г. Ногинск, ул. 3-го Интернационала, 236а
                                                  </p>
                                              </div>
                                          </label>
                                      </div>
                                      <div class="--shipping-address --form-def">
                                          <label for="address" class="d-flex align-center">
                                              <span>
                                                  Адрес
                                              </span>
                                              <input type="text" id="address" class="flex-1">
                                          </label>
                                      </div>
                                  </div>
{# 
                                  <div class="--form-def">
                                      <span class="d-block">Выберите способ оплаты</span>

                                      <div class="--type-shipping --shipping-items d-flex align-center">
                                          <label for="pay-1" class="d-flex align-center">
                                              <input type="radio" id="pay-1" name="pay" style="display: none;">
                                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44px" height="38px" viewBox="0 0 44 38" enable-background="new 0 0 44 38" xml:space="preserve">
                                                  <rect x="7.5" y="8.5" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="28" height="15"/>
                                                  <rect x="7.5" y="8.5" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="28" height="19"/>
                                                  <circle fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" cx="22" cy="16" r="4.5"/>
                                                  <circle fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" cx="13" cy="16" r="1.5"/>
                                                  <circle fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" cx="31" cy="16" r="1.5"/>
                                              </svg>
                                              <span>Наличными в шоу-руме</span>
                                          </label>
                                          <label for="pay-2" class="d-flex align-center">
                                              <input type="radio" id="pay-2" name="pay" style="display: none;">
                                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="34.141px" height="30px" viewBox="0 0 34.141 30" enable-background="new 0 0 34.141 30" xml:space="preserve">
                                                  <path d="M33.399,30H0.757c-0.411,0-0.742-0.331-0.742-0.742c0-0.408,0.331-0.742,0.742-0.742H33.4c0.41,0,0.742,0.334,0.742,0.742 C34.142,29.669,33.81,30,33.399,30z M11.143,22.581c0.411,0,0.742,0.332,0.742,0.742c0,0.409-0.331,0.741-0.742,0.741H5.208
                                                      c-0.411,0-0.742-0.332-0.742-0.741c0-0.41,0.332-0.742,0.742-0.742H5.95v-9.644H5.208c-0.411,0-0.742-0.332-0.742-0.742
                                                      c0-0.41,0.332-0.742,0.742-0.742h5.935c0.411,0,0.742,0.333,0.742,0.742c0,0.41-0.331,0.742-0.742,0.742h-0.742v9.644H11.143z
                                                      M8.917,12.937H7.433v9.644h1.484V12.937z M20.046,22.581c0.41,0,0.742,0.332,0.742,0.742c0,0.409-0.332,0.741-0.742,0.741H14.11
                                                      c-0.408,0-0.74-0.332-0.74-0.741c0-0.41,0.332-0.742,0.74-0.742h0.742v-9.644H14.11c-0.408,0-0.74-0.332-0.74-0.742
                                                      c0-0.41,0.332-0.742,0.74-0.742h5.938c0.41,0,0.742,0.333,0.742,0.742c0,0.41-0.332,0.742-0.742,0.742h-0.742v9.644H20.046z
                                                      M17.82,12.937h-1.482v9.644h1.482V12.937z M31.915,26.291c0,0.41-0.331,0.741-0.741,0.741H2.982c-0.411,0-0.74-0.331-0.74-0.741
                                                      c0-0.411,0.33-0.742,0.74-0.742h28.191C31.584,25.549,31.915,25.88,31.915,26.291z M28.948,22.581c0.408,0,0.74,0.332,0.74,0.742
                                                      c0,0.409-0.332,0.741-0.74,0.741h-5.938c-0.41,0-0.742-0.332-0.742-0.741c0-0.41,0.332-0.742,0.742-0.742h0.742v-9.644h-0.742
                                                      c-0.41,0-0.742-0.332-0.742-0.742c0-0.41,0.332-0.742,0.742-0.742h5.938c0.408,0,0.74,0.333,0.74,0.742
                                                      c0,0.41-0.332,0.742-0.74,0.742h-0.742v9.644H28.948z M26.722,12.937H25.24v9.644h1.48L26.722,12.937L26.722,12.937z M1.499,8.485 L17.078,0l15.579,8.485V9.97H1.499V8.485z M29.349,8.485L17.078,2.141L4.76,8.485H29.349z"/>
                                              </svg>
                                              <span>Банковский перевод</span>
                                          </label>
                                          <label for="pay-3" class="d-flex align-center">
                                              <input type="radio" id="pay-3" name="pay" style="display: none;">
                                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44px" height="38px" viewBox="0 0 44 38" enable-background="new 0 0 44 38" xml:space="preserve">
                                                  <rect x="5.5" y="10.5" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="29" height="20"/>
                                                  <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="10.5,10.5 10.5,4.5 39.5,4.5 39.5,24.5  34.5,24.5 "/>
                                                  <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="15.5" cy="20.5" r="6"/>
                                                  <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="24.5" cy="20.5" r="6"/>
                                              </svg>
                                              <span>Банковская карта</span>
                                          </label>
                                      </div>
                                  </div> #}

                                  <div class="--form-def">
                                      <span class="d-block">
                                          Оформить заказ
                                      </span>

                                      <div class="checkout-order d-flex align-center">
                                          <div class="flex-1">
                                              <button type="submit" class="submit--form d-block transition">
                                                  Подтверждаю заказ
                                              </button>
                                          </div>
                                          <div class="flex-1 d-flex jfy-bwn align-center">
                                              <b>
                                                  Товара на сумму: 
                                              </b>
                                              <b>
                                                  {{ totals[0].text }}
                                              </b>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </div>
{{ footer }} 
    <script>
        $('body').addClass('body--full');
    </script>