{{ header }}
    <div class="main-content">
        <section class="product--view">
            <div class="-content_space">
                <div class="wrapper">
                    <div class="product-view-wrapper">
                        <div class="product--crumb d-flex">
                            {% for breadcrumb in breadcrumbs %}
                                <a href="{{ breadcrumb.href }}">
                                    <span>{{ breadcrumb.text }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="product--name">
                            О проекте
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-project">
            <div class="-content_space">
                <div class="wrapper">
                    <p>
                        Как назвать дом без дивана? Здание. Мы считаем, что одна из многих вещей, что делают дом любимым, — это удобный диван. Именно поэтому мы посвятили себя производству лучшего ассортимента тщательно спроектированных, блестяще сделанных и сказочно ценных диванов.
                        Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Языком точках, предупреждал назад вершину подпоясал прямо если ipsum, свое, выйти первую проектах его сбить запятой снова пояс океана себя!
                    </p>

                    <div class="about-banner grid-quarter">
                        <img src="catalog/view/theme/default/img/slider-banner-1.jpg" alt="" class="max-none">
                    </div>
                </div>
            </div>
        </section>
    </div>
{{ footer }}