{{ header }}
    <div class="main-content">


        <section class="product--view">
            <div class="-content_space">
                <div class="wrapper">
                    <div class="product-view-wrapper">
                        <div class="product--crumb d-flex">
                            {% for breadcrumb in breadcrumbs %}
                                <a href="{{ breadcrumb.href }}">
                                    <span>{{ breadcrumb.text }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="product--name">
                            Доставка и оплата
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="delivery-section">
            <div class="-content_space">
                <div class="wrapper">
                    <div class="delivery--tabs">
                        <ul class="--tabs_list d-flex">
                            <li class="active">
                                Доставка
                            </li>
                            <li>
                                Способы оплаты
                            </li>
                            <li>
                                Гарантия
                            </li>
                        </ul>

                        <div class="--tabs_content">
                            <p>
                                Мы осуществляем доставку по Москве и Московской области. Также, в случае необходимости, вы можете забрать свой заказ в пункте самовывоза. Доставка в регионы осуществляется транспортными компаниями, подробные условия всегда можно уточнить у наших менеджеров.
                                Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Языком точках, предупреждал назад вершину подпоясал прямо если ipsum, свое, выйти первую проектах его сбить запятой снова пояс океана себя!
                            </p>
        
                            <div class="about-banner grid-quarter">
                                <img src="catalog/view/theme/default/img/slider-banner-1.jpg" alt="" class="max-none">
                            </div>

                            <div class="our--advantage p-2">
                                <p class="p-1">
                                    Наши преимущества
                                </p>

                                <div class="d-flex">
                                    <div class="our--advantage_items">
                                        <div></div>
                                        <p>
                                            Диваны и шкафы складской программы мы привезем за 1 день.
                                        </p>
                                    </div>
                                    <div class="our--advantage_items">
                                        <div></div>
                                        <p>
                                            Лучший сервис по доставке заказов и сборке мебели.
                                        </p>
                                    </div>
                                    <div class="our--advantage_items">
                                        <div></div>
                                        <p>
                                            Вы можете самостоятельно забрать свой заказ в пункте самовывоза.
                                        </p>
                                    </div>
                                    <div class="our--advantage_items">
                                        <div></div>
                                        <p>
                                            Вежливые, аккуратные, профессиональные грузчики.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-service">
                                <p class="p-1">
                                    Стоимость услуг
                                </p>

                                <ul class="--service_list d-flex">
                                    <li class="active">
                                        Доставка
                                    </li>
                                    <li>
                                        Сборка
                                    </li>
                                </ul>

                                <div class="--tabs_content-service">
                                    <div class="infotables left">
                                        <table class="active delivery-table" id="deliverydata">
                                            <thead>
                                                <tr>
                                                    <td rowspan="2" style="width:25%">Груз</td>
                                                    <td colspan="2">Доставка</td>
                                                    <td colspan="2">Подъем на этажи</td>
                                                </tr>
                                                <tr>
                                                    <td>В пределах МКАД и до 10 км от МКАД</td>
                                                    <td>Более 10км от МКАД</td>
                                                    <td>На грузовом лифте</td>
                                                    <td>Ручной</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3">ЗАНОС НА 1-Й ЭТАЖ (для клиентов, проживающих на первом этаже и в частных домах)</td>
                                                    <td colspan="2">500 р.</td>
                                                </tr>
                                                <tr>
                                                    <td>Прихожие, обувницы, комоды, столы, тумбы, кровати</td>
                                                    <td>990₽</td>
                                                    <td rowspan="5">
                                                    <p>От 1&nbsp;до&nbsp;39&nbsp;км&nbsp;- 30&nbsp;р/км от МКАД;<br>
                                                    От 40&nbsp;до&nbsp;59&nbsp;км&nbsp;- 40&nbsp;р/км от МКАД;<br>
                                                    Свыше 60&nbsp;км&nbsp;- 50&nbsp;р/км от МКАДа до центра населенного пункта.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Кресла и пуфы</td>
                                                    <td>990₽</td>
                                                    <td>500₽</td>
                                                    <td>150 р. за этаж.</td>
                                                </tr>
                                                <tr>
                                                    <td>Шкафы, гардеробные, стенки, гостиные, детские комнаты, кухонные гарнитуры</td>
                                                    <td>1290₽</td>
                                                    <td>500₽</td>
                                                    <td>250 р. за этаж.</td>
                                                </tr>
                                                <tr>
                                                    <td>Прямые диваны, кухонные диваны и уголки</td>
                                                    <td>1290₽</td>
                                                    <td>500₽</td>
                                                    <td>250 р. за этаж.</td>
                                                </tr>
                                                <tr>
                                                    <td>Угловые диваны</td>
                                                    <td>1490₽</td>
                                                    <td>500₽</td>
                                                    <td>350 р. за этаж.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-shipping p-1">
                                        <p>
                                            *Минимальная стоимость доставки составляет 990₽
                                        </p>
                                    </div>
                                </div>
                                <div class="--tabs_content-service">
                                    фывыфв
                                    <div class="infotables left">
                                        <table class="active delivery-table" id="deliverydata">
                                            <thead>
                                                <tr>
                                                    <td rowspan="2" style="width:25%">Груз</td>
                                                    <td colspan="2">Доставка</td>
                                                    <td colspan="2">Подъем на этажи</td>
                                                </tr>
                                                <tr>
                                                    <td>В пределах МКАД и до 10 км от МКАД</td>
                                                    <td>Более 10км от МКАД</td>
                                                    <td>На грузовом лифте</td>
                                                    <td>Ручной</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3">ЗАНОС НА 1-Й ЭТАЖ (для клиентов, проживающих на первом этаже и в частных домах)</td>
                                                    <td colspan="2">500 р.</td>
                                                </tr>
                                                <tr>
                                                    <td>Прихожие, обувницы, комоды, столы, тумбы, кровати</td>
                                                    <td>990₽</td>
                                                    <td rowspan="5">
                                                    <p>От 1&nbsp;до&nbsp;39&nbsp;км&nbsp;- 30&nbsp;р/км от МКАД;<br>
                                                    От 40&nbsp;до&nbsp;59&nbsp;км&nbsp;- 40&nbsp;р/км от МКАД;<br>
                                                    Свыше 60&nbsp;км&nbsp;- 50&nbsp;р/км от МКАДа до центра населенного пункта.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Кресла и пуфы</td>
                                                    <td>990₽</td>
                                                    <td>500₽</td>
                                                    <td>150 р. за этаж.</td>
                                                </tr>
                                                <tr>
                                                    <td>Шкафы, гардеробные, стенки, гостиные, детские комнаты, кухонные гарнитуры</td>
                                                    <td>1290₽</td>
                                                    <td>500₽</td>
                                                    <td>250 р. за этаж.</td>
                                                </tr>
                                                <tr>
                                                    <td>Прямые диваны, кухонные диваны и уголки</td>
                                                    <td>1290₽</td>
                                                    <td>500₽</td>
                                                    <td>250 р. за этаж.</td>
                                                </tr>
                                                <tr>
                                                    <td>Угловые диваны</td>
                                                    <td>1490₽</td>
                                                    <td>500₽</td>
                                                    <td>350 р. за этаж.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-shipping p-1">
                                        <p>
                                            *Минимальная стоимость доставки составляет 990₽
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="return_product p-2">
                                <p class="p-1">
                                    Правила приема мебели
                                </p>

                                <span>
                                    Соблюдение нескольких простых правил – гарантия того, что товар будет доставлен в сохранности.
                                </span>

                                <ol class="return_product--list">
                                    <li>
                                        Отнеситесь ответственно к приему товара, не поручайте его детям или посторонним людям. Ориентировочное время доставки мы согласовываем накануне дня доставки;
                                    </li>
                                    <li>
                                        Подъезд грузового транспорта к вашему дому должен быть свободным. Если подъехать на территорию для разгрузки нет возможности, нам придется нести мебель вручную. Ручной пронос мебели (более 15 метров) нужно будет оплатить из расчета 200 рублей за каждые дополнительные 10 метров;
                                    </li>
                                    <li>
                                        Чтобы мы смогли беспрепятственно занести мебель в помещение, размеры проемов входной и межкомнатных дверей должны составляет не менее 75х190 см. Ширина прохода внутри помещения (коридора, тамбура) – не менее 105 см;
                                    </li>
                                    <li>
                                        В стоимость доставки и подъема не включены: работы по демонтажу дверей, освобождению входных проемов, разбору, перемещению или утилизации другой мебели;
                                    </li>
                                    <li>
                                        Мягкую мебель мы собираем в момент доставки. Сборка корпусной мебели занимает больше времени и требует выезда отдельного специалиста, поэтому осуществляется на следующий (или любой удобный для вас) день. За дополнительную плату в размере 1 000Р мы можем собрать корпусную мебель в день доставки;
                                    </li>
                                    <li>
                                        сборка в день доставки осуществляется за дополнительную плату: плюс 1 000 руб. к стандартному тарифу.
                                    </li>
                                </ol>
                                <div class="attention-text">
                                    Внимание: расписываясь в бланке приема при получении, вы соглашаетесь с тем, что товар поставлен в полном объеме и надлежащего качества. Далее претензии к внешнему виду и комплектации не могут быть приняты.
                                </div>
                            </div>
                        </div>
                        <div class="--tabs_content">
                            <p class="p-1">
                                Для вашего удобства в нашем интернет-магазине предусмотрено несколько вариантов оплаты:
                            </p>

                            <div class="--tabs_payment">
                                <div class="--tabs_payment-items">
                                    <div class="payment-items_icon"></div>
                                    <p>
                                        Наличными
                                    </p>
                                    <span>
                                        Курьер доставит вам товар по указанному адресу. Вы внимательно осматриваете комплектацию и внешний вид продукции, после чего оплачиваете ее стоимость, а также стоимость выбранных вами услуг. На привезенные изделия мы предоставим товарный чек и документацию.
                                    </span>
                                </div>
                                <div class="--tabs_payment-items">
                                    <div class="payment-items_icon"></div>
                                    <p>
                                        Visa / Mastercard
                                    </p>
                                    <span>
                                        Для удобной оплаты банковской картой используется система электронных платежей appex.ru. При оформлении заказа выберите способ оплаты с помощью карт Visa или Mastercard, после чего вы перейдете на страницу безопасного платежа.
                                    </span>
                                </div>
                                <div class="--tabs_payment-items">
                                    <div class="payment-items_icon"></div>
                                    <p>
                                        Банковский перевод
                                    </p>
                                    <span>
                                        Для осуществления платежа банковским переводом менеджер выставит счет с выбранными товарами и вышлет на вашу электронную почту. Данный способ оплаты по банковским реквизитам компании предусмотрен как для физических, так и для юридических лиц.
                                    </span>
                                </div>
                                <div class="--tabs_payment-items">
                                    <div class="payment-items_icon"></div>
                                    <p>
                                        Рассрочка и кредит
                                    </p>
                                    <span>
                                        Заказ в нашем магазине может быть оформлен в рассрочку или кредит. Подробную консультацию об условиях банковских программ вы можете получить у наших менеджеров. Для оформления продукта необходимо будет заполнить анкету. Затем ее рассмотрит кредитный специалист, и в случае принятия положительного решения банком вы сможете совершить покупку в рассрочку или кредит.
                                    </span>
                                </div>
                                <div class="--tabs_payment-items">
                                    <div class="payment-items_icon"></div>
                                    <p>
                                        Карта «Халва»
                                    </p>
                                    <span>
                                        Приобрести мебель в нашем магазине можно по карте «Халва» в рассрочку до 4 месяцев. Выбирайте понравившиеся товары, оформляйте заказ и оплачивайте его как обычной банковской картой онлайн.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="--tabs_content">
                            <p class="p-1">
                                Мы заботимся о своих покупателях, в первую очередь, создавая качественную мебель.
                            </p>
                            <p class="p-1">
                                Собственное мебельное производство позволяет нам контролировать качество наших товаров на всех этапах — от разработки модели до контрольной сборки перед доставкой изделия нашим клиентам. Доставка осуществляется опытными экспедиторами, поэтому вы можете быть уверены, что получите заказанный товар в безупречном виде.
                            </p>
                            <p class="p-1">
                                Все диваны и корпусная мебель собираются из качественных и безопасных для здоровья комплектующих. Мы внимательно следим за тенденциями рынка и выбираем только лучших поставщиков материалов для наших фабрик.
                            </p>
                            <p class="p-1">
                                Отдел технического контроля отвечает за полное соответствие моделей всем существующим нормам и стандартам качества. При этом мы ответственно несем взятые на себя гарантийные обязательства перед покупателем.
                            </p>

                            <div class="warranty-period text-center p-2">
                                Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
                            </div>

                            <div class="warranty--back">
                                <p class="p-1">
                                    Гарантируем обмен или возврат
                                </p>

                                <div class="warranty--back-box">
                                    <div class="warranty--back-icon"></div>
                                    <p>
                                        Возврат и обмен товара можно произвести в течение 7 дней с момента покупки
                                    </p>
                                </div>
                                <div class="warranty--back-box">
                                    <div class="warranty--back-icon"></div>
                                    <p>
                                        Возврат или обмен товара возможен, если сохранена упаковка, товарный вид и потребительские свойства товара.
                                    </p>
                                </div>
                                <div class="warranty--back-box">
                                    <div class="warranty--back-icon"></div>
                                    <p>
                                        В случае отказа от товара при доставке, клиент оплачивает услугу доставки.
                                    </p>
                                </div>
                            </div>

                            <p class="p-1">
                                Мы заботимся о своих покупателях, в первую очередь, создавая качественную мебель.
                            </p>
                            <p class="p-1">
                                Собственное мебельное производство позволяет нам контролировать качество наших товаров на всех этапах — от разработки модели до контрольной сборки перед доставкой изделия нашим клиентам. Доставка осуществляется опытными экспедиторами, поэтому вы можете быть уверены, что получите заказанный товар в безупречном виде.
                            </p>
                            <p class="p-1">
                                Все диваны и корпусная мебель собираются из качественных и безопасных для здоровья комплектующих. Мы внимательно следим за тенденциями рынка и выбираем только лучших поставщиков материалов для наших фабрик.
                            </p>
                            <p class="p-1">
                                Отдел технического контроля отвечает за полное соответствие моделей всем существующим нормам и стандартам качества. При этом мы ответственно несем взятые на себя гарантийные обязательства перед покупателем.
                            </p>

                            <div class="warranty-period text-center p-2">
                                Возврат и обмен товара – в течение 7 дней с момента покупки
                            </div>

                            <p class="p-1">
                                Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
                            </p>
                            <p class="p-1">
                                Для осуществления возврата или обмена товара необходимо обратиться в Отдел Качества нашего интернет-магазина по телефону (90) 945-74-43
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{{ footer }}