{{ header }}
    <div class="main-content">
        <section class="product--view">
            <div class="-content_space">
                <div class="wrapper">
                    <div class="product-view-wrapper">
                        <div class="product--crumb d-flex">
                            {% for breadcrumb in breadcrumbs %}
                                <a href="{{ breadcrumb.href }}">
                                    <span>{{ breadcrumb.text }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="product--name">
                            Услуги
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-section">
            <div class="-content_space">
                <div class="wrapper">
                    <div class="result">
                        <div class="accordion js-accordion">
                            <div class="accordion-item">
                                <i class="arrow"></i>
                                <div class="accordion-toggle transition">
                                    Услуги 1
                                </div>
                                <div class="accordion-panel">
                                    <p class="font--bold">
                                        1. FIrst Service Title
                                    </p>
                                    <p>
                                        1.1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Страну парадигматическая живет его которое переписывается силуэт злых бросил, это инициал города свой оксмокс выйти правилами одна страна! Пор, вдали. 
                                    </p>
                                    <p>
                                        1.2 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписывается деревни журчит оксмокс осталось но даль большой власти подпоясал от всех запятой если, семантика там вопроса имени заглавных коварных заголовок.
                                    </p>
                                    <p class="font--bold">
                                        2. Second Service Title
                                    </p>
                                    <p>
                                        2.1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всеми гор своего подзаголовок жизни ее? Моей строчка продолжил безопасную, деревни жизни но лучше меня домах рекламных ему маленькая ipsum!
                                    </p>
                                    <p>
                                        2.2 Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Вдали даль, пояс рыбного точках, коварный одна сих вопрос языком жизни грустный встретил вершину своих которое свой всемогущая, первую живет.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <i class="arrow"></i>
                                <div class="accordion-toggle transition">
                                    Услуги 2
                                </div>
                                <div class="accordion-panel">
                                    <p class="font--bold">
                                        1. FIrst Service Title
                                    </p>
                                    <p>
                                        1.1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Страну парадигматическая живет его которое переписывается силуэт злых бросил, это инициал города свой оксмокс выйти правилами одна страна! Пор, вдали. 
                                    </p>
                                    <p>
                                        1.2 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписывается деревни журчит оксмокс осталось но даль большой власти подпоясал от всех запятой если, семантика там вопроса имени заглавных коварных заголовок.
                                    </p>
                                    <p class="font--bold">
                                        2. Second Service Title
                                    </p>
                                    <p>
                                        2.1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всеми гор своего подзаголовок жизни ее? Моей строчка продолжил безопасную, деревни жизни но лучше меня домах рекламных ему маленькая ipsum!
                                    </p>
                                    <p>
                                        2.2 Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Вдали даль, пояс рыбного точках, коварный одна сих вопрос языком жизни грустный встретил вершину своих которое свой всемогущая, первую живет.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <i class="arrow"></i>
                                <div class="accordion-toggle transition">
                                    Услуги 3
                                </div>
                                <div class="accordion-panel">
                                    <p class="font--bold">
                                        1. FIrst Service Title
                                    </p>
                                    <p>
                                        1.1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Страну парадигматическая живет его которое переписывается силуэт злых бросил, это инициал города свой оксмокс выйти правилами одна страна! Пор, вдали. 
                                    </p>
                                    <p>
                                        1.2 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписывается деревни журчит оксмокс осталось но даль большой власти подпоясал от всех запятой если, семантика там вопроса имени заглавных коварных заголовок.
                                    </p>
                                    <p class="font--bold">
                                        2. Second Service Title
                                    </p>
                                    <p>
                                        2.1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всеми гор своего подзаголовок жизни ее? Моей строчка продолжил безопасную, деревни жизни но лучше меня домах рекламных ему маленькая ipsum!
                                    </p>
                                    <p>
                                        2.2 Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Вдали даль, пояс рыбного точках, коварный одна сих вопрос языком жизни грустный встретил вершину своих которое свой всемогущая, первую живет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{{ footer }}
    <script>
        $('body').addClass('body--full');
    </script>