@font-face {
  font-family: 'Roboto-Medium';
  src: url('../smca_fonts/Roboto-Medium.eot');
  src: url('../smca_fonts/Roboto-Medium.woff') format('woff'),
  url('../smca_fonts/Roboto-Medium.ttf') format('truetype'),
  url('../smca_fonts/Roboto-Medium.svg') format('svg');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../smca_fonts/Roboto-Regular.eot');
  src: url('../smca_fonts/Roboto-Regular.woff') format('woff'),
  url('../smca_fonts/Roboto-Regular.ttf') format('truetype'),
  url('../smca_fonts/Roboto-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../smca_fonts/Roboto-Thin.eot');
  src: url('../smca_fonts/Roboto-Thin.woff') format('woff'),
  url('../smca_fonts/Roboto-Thin.ttf') format('truetype'),
  url('../smca_fonts/Roboto-Thin.svg') format('svg');
}
button.smca-call-button {
  /* insert there your css style */
}
#smca-modal-body * {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
#smca-modal-body {
  background: #fff;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}
#smca-modal-body .modal-heading {
  text-align: left;
  background-color: #EDEDED;
  font-family: Roboto-Regular, Arial, Tahoma;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  position: relative;
  min-height: 50px;
  line-height: 50px;
  overflow: hidden;
}
#smca-modal-body .modal-close {
  width: 24px;
  height: 24px;
  background: url(close.png) no-repeat;
  right: 15px;
  top: 13px;
  position: absolute;
  opacity: 0.5;
  cursor: pointer !important;
}
#smca-modal-body .modal-body {
  background: #fff;
  padding: 20px;
  overflow: auto;
}
#smca-modal-body .product-heading {
  font-family: Roboto-Medium, Arial, Tahoma;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#smca-modal-body .modal-body .modal-footer {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#smca-modal-body .modal-footer {
  padding: 17px 20px 17px 20px;
  background-color: #EDEDED;
  position: relative;
  display: inline-block;
  border-top: 1px solid #ddd;
  width: 100%;
  /*height: 100%;*/
  vertical-align: bottom;
  box-sizing: border-box;
}
.smca-modal-loadmask {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  opacity: 0.4;
  left: 0;
  top: 0;
}
.smca-modal-loadmask-loading {
  background: url(loading.svg) no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10001;
  top: 0;
  left: 0;
}
#smca-modal-body .modal-body .product-table-cart {
  display: block;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-heading {
  display: table;
  width: 100%;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-heading > div {
  display: table-cell;
  font-size: 13px;
  line-height: 13px;
  color: #444;
  font-family: Roboto-Medium, Arial, Tahoma;
  border-bottom: 1px solid #D9D9D9;
  padding: 0 0 7px 0;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body {
  display: table;
  width: 100%;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row {
  display: table-row;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > div {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px dotted #D9D9D9;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove {
  width: 10%;
  text-align: left;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove input {
  margin-left: 25%;
  width: 16px;
  height: 15px;
  display: inline-block;
  outline: none;
  border: 0;
  padding: 0;
  background: url(remove.png) no-repeat;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove input:hover {
  background-position: 0 -15px;
  cursor: pointer;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove input:active {
  background-position: 0 -30px;
  cursor: pointer;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-heading > .remove {
  width: 10%;
  text-align: left;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name,
#smca-modal-body .modal-body .product-table-cart > .product-table-heading > .name {
  width: 40%;
  text-align: left;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-left {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 10px;
  width: 140px;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right.fix {
  padding-left: 0;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right a {
  font-family: Roboto-Medium, Arial, Tahoma;
  color: #444;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right a.error-stock {
  color: #df2e2e;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right a:hover {
  text-decoration: underline;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .model,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .stock-text,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .options,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .reward {
  font-size: 12px;
  color: #888;
  line-height: 14px;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .model span,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .stock-text span,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .options span,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right .reward span {
  color: #444;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .price,
#smca-modal-body .modal-body .product-table-cart > .product-table-heading > .price {
  width: 15%;
  text-align: left;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .price > div,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total > div {
  display: block;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .price span,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total span {
  display: block;
  margin-top: 5px;
  font-size: 11px;
  color: #888;
  line-height: 12px;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity,
#smca-modal-body .modal-body .product-table-cart > .product-table-heading > .quantity {
  width: 15%;
  text-align: left;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total,
#smca-modal-body .modal-body .product-table-cart > .product-table-heading > .total {
  width: 15%;
  text-align: left;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .price,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total {
  font-size: 14px;
  line-height: 14px;
  color: #444;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  margin-left: 5px;
  vertical-align: top;
  min-height: 62px;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div {
  bottom: 0;
  height: 61px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > input.input-quantity {
  border: 1px solid #D9D9D9;
  background: #fff;
  width: 40px;
  display: inline-block;
  height: 18px;
  margin: 3px auto;
  text-align: center;
  clear: both;
  font-family: Roboto-Regular, Arial, Tahoma;
  font-size: 12px;
  color: #444;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > input.input-quantity:after {
  content: " ";
  clear: both;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#decrease-quantity,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#increase-quantity {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #444;
  display: block;
  height: 18px;
  font-family: Roboto-Regular, Arial, Tahoma;
  padding: 0px 0px;
  width: 40px;
  margin: 0 auto;
  -webkit-transition: border-color .20s;
  -moz-transition: border-color .20s;
  -o-transition: border-color .20s;
  transition: border-color .20s;
  cursor: pointer;
  background: #F3F3F3;
  border: 1px solid #D9D9D9;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#decrease-quantity {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#increase-quantity {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#decrease-quantity:active,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#increase-quantity:active {
  border-color: #4D90FE;
  color: #000;
  -moz-box-shadow: 0 0 10px #D4D4D4 inset;
  -webkit-box-shadow: 0 0 10px #D4D4D4 inset;
  box-shadow: 0 0 10px #D4D4D4 inset;
}
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#decrease-quantity:hover,
#smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#increase-quantity:hover {
  background: #F4F4F4;
  border-color: #C0C0C0;
}
#smca-modal-body .modal-body .totals {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 20px 0 0 0;
}
#smca-modal-body .modal-body .totals > div {
  border: 2px solid #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  padding: 7px 10px 6px;
  position: relative;
  text-align: center;
  font-family: Roboto-Medium, Arial, Tahoma;
  color: #333;
}
#smca-modal-body .modal-body .totals > div > span {
  display: inline-block;
}
#smca-modal-body .modal-body .totals > div > #total-order,
#smca-modal-body .modal-body .totals > div > #weight-order {
  display: inline-block;
}
#smca-modal-body #check-data .error-text {
  font-size: 11px;
  color: #DF2E2E;
  font-family: Roboto-Regular, Arial, Tahoma;
  display: block;
  margin: -4px 0 2px;
}
#smca-modal-body #check-data .error-style {
  border: 1px solid #DF2E2E !important;
}
#smca-modal-body > .modal-footer {
  position: relative;
  display: block;
  text-align: center;
  padding: 20px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  background: #EDEDED;
}
#smca-modal-body > .modal-footer input + input {
  margin-left: 7px;
}
#smca-modal-body > .modal-footer > input {
  float: left;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  margin: 0;
  padding: 0px;
  width: 180px;
  outline: none;
  border: 0;
  font-size: 14px;
  font-family: Roboto-Medium, Arial, Tahoma;
  text-decoration: none;
  color: #FFF;
  background: #47c843;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .50s;
  -moz-transition: background .50s;
  -o-transition: background .50s;
  transition: background .50s;
  cursor: pointer;
}
#smca-modal-body > .modal-footer > input.go-button-bottom {
  float: right;
}
#smca-modal-body > .modal-footer > input.go-button-bottom:hover {
  background: #3cb736;
}
#smca-modal-body > .modal-footer > input.go-button-bottom:active {
  background: #33933A;
}
#smca-modal-body > .modal-footer > input.close-button-bottom {
  background: #E94E4E;
}
#smca-modal-body > .modal-footer > input.close-button-bottom:hover {
  background: #E81717;
}
#smca-modal-body > .modal-footer > input.close-button-bottom:active {
  background: #AA3A3A;
}
#smca-modal-body > .modal-footer > input.save-button-bottom {
  background: #2c3e50;
}
#smca-modal-body > .modal-footer > input.save-button-bottom:hover {
  background: #375879;
}
#smca-modal-body > .modal-footer > input.save-button-bottom:active {
  background: #193754;
}
#smca-modal-body > .modal-footer > .totals {
  border: 2px solid #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  font-size: 14px;
  padding: 7px 10px 6px;
  position: relative;
  text-align: center;
  font-family: Roboto-Medium, Arial, Tahoma;
  color: #333;
}
#smca-modal-body > .modal-footer > .totals > span {
  display: inline-block;
}
#smca-modal-body > .modal-footer > .totals > #total-order {
  display: inline-block;
}
#smca-modal-body .modal-body #save-cart-data {
  display: none;
  border: 1px solid #D9D9D9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
}
#smca-modal-body .modal-body #save-cart-data .save-cart-data-button {
  display: inline-block;
  height: 35px;
  overflow: hidden;
  margin: 0;
  padding: 0px;
  width: 49%;
  outline: none;
  border: 0;
  font-size: 14px;
  font-family: Roboto-Medium, Arial, Tahoma;
  text-decoration: none;
  color: #FFF;
  background: #2980b9;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .50s;
  -moz-transition: background .50s;
  -o-transition: background .50s;
  transition: background .50s;
  cursor: pointer;
}
#smca-modal-body .modal-body #save-cart-data .save-cart-data-button.fix {
  width: 100%;
}
#smca-modal-body .modal-body #save-cart-data .save-cart-data-button + .save-cart-data-button {
  margin-left: 7px;
}
#smca-modal-body .modal-body #save-cart-data .save-cart-data-button:hover,
#smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=button]:hover {
  background: #3498db;
}
#smca-modal-body .modal-body #save-cart-data .save-cart-data-button:active,
#smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=button]:active {
  background: #34495e;
}
#smca-modal-body .modal-body #save-cart-data > #save-cart-data-result-error,
#smca-modal-body .modal-body #save-cart-data > #save-cart-data-result-success,
#smca-coupon-success,
#smca-voucher-success,
#smca-shipping-success,
#smca-reward-success {
  font-size: 12px;
  line-height: 12px;
  display: none;
  margin: 10px 0 0 0;
  padding: 10px;
  font-family: Roboto-Regular, Arial, Tahoma;
  text-decoration: none;
  color: #FFF;
  text-align: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#save-cart-data-result-error {
  background: #e74c3c;
}
#save-cart-data-result-success {
  background: #27ae60;
}
#smca-coupon-success,
#smca-voucher-success,
#smca-shipping-success,
#smca-reward-success {
  display: block;
  margin-bottom: 5px;
  background: #27ae60;
}
#smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email {
  display: none;
  margin-top: 10px;
}
#smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=text] {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 2px 5px;
  position: relative;
  width: 80%;
  font-size: 12px;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
  -webkit-transition: border-color .75s;
  -moz-transition: border-color .75s;
  -o-transition: border-color .75s;
  transition: border-color .75s;
}
#smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=text]:focus {
  border: 1px solid #5A5F63;
}
#smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=button] {
  display: inline-block;
  height: 26px;
  overflow: hidden;
  margin: 0;
  padding: 0px;
  width: 19%;
  outline: none;
  border: 0;
  font-size: 12px;
  font-family: Roboto-Medium, Arial, Tahoma;
  text-decoration: none;
  color: #FFF;
  background: #2980b9;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .50s;
  -moz-transition: background .50s;
  -o-transition: background .50s;
  transition: background .50s;
  cursor: pointer;
}
#smca-modal-body .modal-body #smca-modal-data-empty {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body #check-data > #smca-ajax-products {
  display: block;
  text-align: center;
  padding: 20px 20px 0px 20px;
  position: relative;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list {
  display: block;
  position: relative;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product {
  border: 1px solid #D9D9D9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  width: 20%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list .smca-modal-loadmask-loading {
  background:url(loading-small.svg) no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10001;
  top: 0;
  left: 0;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .image {
  text-align: center;
  margin-bottom: 10px;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .name {
  position: relative;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .name a {
  font-size: 12px;
  line-height: 12px;
  color: #444;
  text-decoration: none;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .price {
  position: relative;
  font-size: 12px;
  color: #444;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .price .price-new {
  font-family: Roboto-Medium, Arial, Tahoma;
  font-weight: 800;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .price .price-old {
  text-decoration: line-through;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .cart {
  position: relative;
  margin-top: 5px;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .cart > a {
  font-size: 11px;
  line-height: 11px;
  padding: 4px 7px;
  font-family: Roboto-Medium, Arial, Tahoma;
  color: #FFF;
  cursor: pointer;
  background: #16a085;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .50s;
  -moz-transition: background .50s;
  -o-transition: background .50s;
  transition: background .50s;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .cart > a:hover {
  background: #2ecc71;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product > .name a:hover {
  text-decoration: underline;
}
#smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product + .ajax-product  {
  margin-left: 5px;
}
#smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow {
  position: absolute;
  width: 93.3%;
  top: 40%;
  z-index: 1;
}
#smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button {
  font-size: 11px;
  line-height: 11px;
  padding: 4px 7px;
  font-family: Roboto-Medium, Arial, Tahoma;
  color: #FFF;
  cursor: pointer;
  background: #16a085;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .50s;
  -moz-transition: background .50s;
  -o-transition: background .50s;
  transition: background .50s;
}
#smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:hover {
  background: #2ecc71;
}
#smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:first-child {
  position: absolute;
  left: 0;
}
#smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:last-child {
  position: absolute;
  right: 0;
}
#smca-modal-body .alert {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid #EBCCD1;
  padding: 8px 14px 8px 14px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 12px;
}
#smca-modal-body .alert button.close {
  font-size: 21px;
}
.cart-gifts {
  position: relative;
}
.cart-gifts .smca-gift-heading {
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0 5px !important;
}
#smca-gift-accordion {
  display: inline-block;
  width: 100%;
}
#smca-gift-accordion > div {
  margin-top: 5px;
}
#smca-gift-accordion .heading {
  font-size: 14px;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
  background: #F5F5F5;
  border: 1px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 4px 5px 2px;
}
#smca-gift-accordion .heading a {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
  text-decoration: none;
}
#smca-gift-accordion .heading i, #smca-gift-accordion .section i {
  font-family: FontAwesome;
}
#smca-gift-accordion .section {
  position: relative;
  display: block;
  margin: 5px 0 0 0;
  overflow: auto;
}
#smca-gift-accordion .section input,
#smca-gift-accordion .section select,
#smca-gift-accordion .section textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 5px 0;
  padding: 2px 5px;
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
  -webkit-transition: border-color .75s;
  -moz-transition: border-color .75s;
  -o-transition: border-color .75s;
  transition: border-color .75s;
}
#smca-gift-accordion .section select {
  padding: 4px 5px;
}
#smca-gift-accordion .section textarea {
  resize: vertical;
}
#smca-gift-accordion .section input:focus,
#smca-gift-accordion .section textarea:focus {
  border: 1px solid #5A5F63;
}
#smca-gift-accordion .section .next-step-button {
  display: inline-block;
  padding: 4px 0 3px;
  margin: 0;
  width: 100%;
  outline: none;
  border: 0;
  font-size: 12px;
  font-family: Roboto-Regular, Arial, Tahoma;
  text-decoration: none;
  color: #FFF;
  background: #3498db;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .50s;
  -moz-transition: background .50s;
  -o-transition: background .50s;
  transition: background .50s;
  cursor: pointer;
}
#smca-gift-accordion .section .next-step-button:hover {
  background: #2980b9;
}
#smca-gift-accordion .section .next-step-button:active {
  background: #34495e;
}
#smca-modal-body #smca-block-shipping {
  position: relative;
  margin-top: 5px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
}
#smca-modal-body #smca-block-shipping table,
#smca-modal-body #smca-block-shipping table {
  border-collapse: collapse;
  width: 100%;
  margin: 5px 0 5px 0;
}
#smca-modal-body #smca-block-shipping table > thead {
  background: #F6F7F7;
}
#smca-modal-body #smca-block-shipping table > thead > tr > td,
#smca-modal-body #smca-block-shipping table > thead > tr > td {
  font-size: 14px;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
}
#smca-modal-body #smca-block-shipping table td,
#smca-modal-body #smca-block-shipping table td {
  border: 1px solid #ededed;
  padding: 3px 5px;
  font-size: 12px;
  color: #333;
  font-family: Roboto-Regular, Arial, Tahoma;
  vertical-align: middle;
}
#smca-modal-body #smca-block-shipping table > tbody > tr > td > div,
#smca-modal-body #smca-block-shipping table > tbody > tr > td > div {
  margin: 2px 0 0 0;
  display: inline-block;
}
#smca-modal-body #smca-block-shipping table > tbody > tr > td.first-td {
  border-right: 1px solid transparent;
  width: 13px;
  padding-right: 0;
  line-height: 18px;
}
#smca-modal-body #smca-block-shipping table > tbody > tr > td.first-td div input {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-top: 2px;
}
@media (min-width: 320px) and (max-width: 359px) {
  #smca-modal-body {
    width: 295px;
  }
  #smca-modal-body > .modal-footer {
    height: 100%;
    overflow: auto;
  }
  #smca-modal-body > .modal-footer > input {
    width: 100%;
  }
  #smca-modal-body > .modal-footer > input + input {
    margin: 6px 0 0 0;
  }
  #smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=text] {
    width: 79%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > div {
    font-size: 11px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove {
    width: 5%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove input {
    margin-left: 0%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name {
    width: 30%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-left {
    display: none;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right {
    width: 100%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right a {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .price,
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total {
    font-size: 12px;
    line-height: 12px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity,
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > .quantity {
    width: 9%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#decrease-quantity,
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#increase-quantity {
    width: 25px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > input.input-quantity {
    width: 25px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner {
    margin-left: 0;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > .remove {
    display: none;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total,
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > .total {
    text-align: right;
  }
  #smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
  #smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:first-child,
  #smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:last-child {
    position: relative;
    display: inline-block;
  }
  #smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product {
    width: 100% !important;
    box-sizing: border-box !important;
  }
  #smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product + .ajax-product {
    margin: 5px 0 0 0;
  }
  #smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list .smca-modal-loadmask-loading {
    left: 95px !important;
  }
  #smca-modal-body .modal-body #save-cart-data .save-cart-data-button {
    width: 100%;
  }
  #smca-modal-body .modal-body #save-cart-data .save-cart-data-button + .save-cart-data-button {
    margin-left: 0;
    margin-top: 5px;
  }
}
@media (min-width: 360px) and (max-width: 532px) {
  #smca-modal-body {
    width: 330px;
  }
  #smca-modal-body > .modal-footer {
    height: 100%;
    overflow: auto;
  }
  #smca-modal-body > .modal-footer > input {
    width: 100%;
  }
  #smca-modal-body > .modal-footer > input + input {
    margin: 6px 0 0 0;
  }
  #smca-modal-body .modal-body #save-cart-data #save-cart-data-for-email input[type=text] {
    width: 79%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > div {
    font-size: 11px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove {
    width: 5%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .remove input {
    margin-left: 0%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name {
    width: 30%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-left {
    display: none;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right {
    width: 100%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .name > .name-right a {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .price,
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total {
    font-size: 12px;
    line-height: 12px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity,
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > .quantity {
    width: 11%;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#decrease-quantity,
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > button#increase-quantity {
    width: 25px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner > div > input.input-quantity {
    width: 23px;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .quantity > .inner {
    margin-left: 0;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > .remove {
    display: none;
  }
  #smca-modal-body .modal-body .product-table-cart > .product-table-body > .product-table-body-row > .total,
  #smca-modal-body .modal-body .product-table-cart > .product-table-heading > .total {
    text-align: right;
  }
  #smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
  #smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:first-child,
  #smca-modal-body #check-data > #smca-ajax-products > .smca-ajax-products-arrow button:last-child {
    position: relative;
    display: inline-block;
  }
  #smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product {
    width: 100% !important;
    box-sizing: border-box !important;
  }
  #smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list > .ajax-product + .ajax-product {
    margin: 5px 0 0 0;
  }
  #smca-modal-body #check-data > #smca-ajax-products > #smca-ajax-products-list .smca-modal-loadmask-loading {
    left: 105px !important;
  }
  #smca-modal-body .modal-body #save-cart-data .save-cart-data-button {
    width: 100%;
  }
  #smca-modal-body .modal-body #save-cart-data .save-cart-data-button + .save-cart-data-button {
    margin-left: 0;
    margin-top: 5px;
  }
}
@media (min-width: 533px) and (max-width: 603px) {
  #smca-modal-body {
    width: 550px;
  }
  #smca-modal-body > .modal-footer > input {
    width: 164px;
  }
}
