<li id="cart" class="--shop-basket __same-modal">
    <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 576 512"><path d="M576 216v16c0 13.255-10.745 24-24 24h-8l-26.113 182.788C514.509 462.435 494.257 480 470.37 480H105.63c-23.887 0-44.139-17.565-47.518-41.212L32 256h-8c-13.255 0-24-10.745-24-24v-16c0-13.255 10.745-24 24-24h67.341l106.78-146.821c10.395-14.292 30.407-17.453 44.701-7.058 14.293 10.395 17.453 30.408 7.058 44.701L170.477 192h235.046L326.12 82.821c-10.395-14.292-7.234-34.306 7.059-44.701 14.291-10.395 34.306-7.235 44.701 7.058L484.659 192H552c13.255 0 24 10.745 24 24zM312 392V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm112 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm-224 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24z"/></svg>
    <span id="cart-total">
        {{ text_items }}
    </span>
    <div class="basket-sidebar-overlay"></div>
    <div class="basket-sidebar transition">
        <div class="basket-close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
        </div>
        <div class="basket-box d-flex f-column">
            <div class="basket--title">
                <h1>
                    Корзинка
                </h1>
            </div>
            <div class="basket-body flex-1">
                {% if products %}
                    {% for product in products %}
                        <div class="basket-body_items d-flex">
                            <a href="{{ product.href }}" class="-body_items-img grid-quarter">
                                <img src="{{ product.thumb }}" alt="" class="d-block max-none">
                            </a>
                            <div class="-body_items-text">
                                <div class="d-flex jfy-bwn align-center">
                                    <a href="{{ product.href }}" class="flex-1">
                                        <span class="--ct-txt d-block">
                                            {{ product.category_name }}
                                        </span>

                                        {{ product.name }}

                                        <div class="--basket-product-cost">
                                            {{ product.price }}
                                        </div>
                                    </a>
                                    <div class="--remove-product d-flex align-center">
                                        <div class="input-group">
                                            <input type="button" value="-" class="button-minus" data-field="quantity">
                                            <input type="number" disabled="" step="1" max="" value="{{ product.quantity }}" name="quantity" class="quantity-field">
                                            <input type="button" value="+" class="button-plus" data-field="quantity">
                                            <input type="hidden" value="{{ product.cart_id }}" name="quantityCartId"/>
                                        </div>
                                        <svg onclick="cart.remove('{{ product.cart_id }}');" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">{{ text_empty }}</p>
                {% endif %}
            </div>
            <div class="basket-footer">
                <div class="--total-sum d-flex jfy-bwn align-center">
                    <p>
                        Итого <span>{{ text_items }}</span> товара на сумму
                        <b class="d-block">{{ totals[0].text }}</b>
                    </p>
                    <p>
                        <span>
                            После оформления заказа наш менеджер свяжется с Вами, чтобы уточнить все детали
                        </span>
                    </p>
                </div>
                <a href="/index.php?route=checkout/cart">
                    <button class="--baskter-box d-block text-up">
                            Перейти в корзину
                    </button>
                </a>
            </div>
        </div>
    </div>
</li>
