
<div class="main-content">
    <footer>
        <div class="-content_space">
            <div class="--footer-wr">
                <div class="wrapper">
                    <div class="-footer d-flex align-center p-1">
                        <div>
                            <p>
                                Copyright © 2019 Divan.uz Inc. Все права защищены.
                            </p>
                        </div>
                        <div class="flex-1">
                            <ul class="--footer-links d-flex">
                                <li>
                                    <a href="#">
                                        О Проекте
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Услуги
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Доставка и оплата
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        Сотрудничество
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="--footer-soc d-flex align-center">
                                <li>
                                    <a href="#">
                                        <svg class="--facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512"><path d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg class="--twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg class="--telegram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg class="--instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


<div class="modal--wrapper">
    <div class="modal-wrapper child--center">
        <div class="modal--body d-flex">
            <div class="modal-body-left d-flex f-column">
                <div class="modal-body-title">
                    <p>
                        Диван
                    </p>
                    <h1>
                        Слипсон Beige
                    </h1>
                </div>
                <div class="modal-img-gallery d-flex f-column flex-1">
                    <div class="modal-main-img --hero-img d-flex align-center flex-1">
                        <img src="img/img-main-1.jpg" alt="" class="d-block">
                    </div>
                    <div class="modal-img-thumb --thumb-imgs d-flex">
                        <div>
                            <img src="img/img-thumb-1.jpg" alt="" class="d-block">
                        </div>
                        <div>
                            <img src="img/img-thumb-2.jpg" alt="" class="d-block">
                        </div>
                        <div>
                            <img src="img/img-thumb-1.jpg" alt="" class="d-block">
                        </div>
                        <div>
                            <img src="img/img-thumb-2.jpg" alt="" class="d-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body-right flex-1">
                <div class="modal--cost">
                    <h1>
                        38 800
                        <span>сум</span>
                    </h1>
                    <div class="modal--cost-btn d-flex align-center jfy-bwn">
                        <div class="-cost--btn transition">
                            Быстрая покупка
                        </div>
                        <div class="--wishlist toaster-wishlist">
                            <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
                            <span>Мне нравится</span>
                        </div>
                    </div>
                    <form action="" class="--form-quick-view">
                        <label for="name99" class="d-block">
                            <span>
                                Имя
                            </span>
                            <input type="text" placeholder="Имя" id="name99" class="d-block">
                        </label>
                        <label for="phone99" class="d-block">
                            <span>
                                Телефон
                            </span>
                            <input type="text" placeholder="" placeholder="+9__ (__) ___ __ __" data-mask="+900 (00) 000 00 00" id="phone99" class="--phone d-block">
                        </label>
                        <div class="d-flex align-center">
                            <button type="submit" class="-cost--btn transition">
                                Купить
                            </button>
                            <p class="-cost--btn -cost-down transition text-center">
                                Отменить
                            </p>
                        </div>
                    </form>
                </div>
                <div class="--product-desc">
                    <p>
                        Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Имени они деревни заманивший? Маленькая грустный своих запятой страну лучше!
                    </p>
                </div>
                <div class="--product--size">
                    <span>
                        Размеры
                    </span>
                    <div class="d-flex align-center">
                        <div>
                            <span class="d-block">
                                Длина
                            </span>
                            <p>
                                130 см
                            </p>
                        </div>
                        <div>
                            х
                        </div>
                        <div>
                            <span class="d-block">
                                Ширина
                            </span>
                            <p>
                                100 см
                            </p>
                        </div>
                        <div>
                            x
                        </div>
                        <div>
                            <span class="d-block">
                                Высота
                            </span>
                            <p>
                                90 см
                            </p>
                        </div>
                    </div>
                </div>
                <div class="--product--size">
                    <span>
                        Спальное место
                    </span>
                    <div class="d-flex align-center">
                        <div>
                            <span class="d-block">
                                Длина
                            </span>
                            <p>
                                130 см
                            </p>
                        </div>
                        <div>
                            х
                        </div>
                        <div>
                            <span class="d-block">
                                Ширина
                            </span>
                            <p>
                                100 см
                            </p>
                        </div>
                        <div>
                            x
                        </div>
                        <div>
                            <span class="d-block">
                                Высота
                            </span>
                            <p>
                                90 см
                            </p>
                        </div>
                    </div>
                </div>

                <div class="--product-view">
                    <a href="#" class="submit--form text-center d-block transition">
                        Узнать больше о товаре
                    </a>
                </div>
            </div>

            <div class="modal--close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
            </div>
        </div>
    </div>
</div>

<script src="catalog/view/js/jquery.min.js"></script>
<script src="catalog/view/js/owl.carousel.min.js"></script>
<script src="catalog/view/js/image-loaded.min.js"></script>
<script src="catalog/view/js/jquery-imagefill.js"></script>
<script src="catalog/view/js/jquery.mask.min.js"></script>
<script src="catalog/view/js/jquery.toast.js"></script>
<script src="catalog/view/js/common.js"></script>
<script>
    $('.toaster-wishlist').on('click', function ( e ) {
        e.preventDefault();
        $.toast().reset('all');
        $.toast({
            heading: 'Positioning',
            text: 'Use the predefined ones, or specify a custom position object.',
            position: 'top-right',
            stack: false
        })
    });

    
    if( $(window).width() < 1024 ) {
        $('body').addClass('--default-menu');
    }
</script>
</body></html>