<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<base href="{{ base }}" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

<link href="catalog/view/theme/default/stylesheet/libs.css" rel="stylesheet" media="screen" />
<link href="catalog/view/theme/default/stylesheet/style.css" rel="stylesheet" media="screen" />


{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}


{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
<script src="catalog/view/js/jquery.min.js"></script>

</head>
<body class="--body-fix">
  <header class="header">
      <div class="fixed-bar d-flex f-column">
          <div class="--logo d-flex align-center jfy-bwn">
              <a href="/" class="d-flex">
                  <div class="--logo-hover">
                      <span class="--logo-img transition"
                          style="background: url('catalog/view/theme/default/img/divan-logo-hover.png');
                          background-repeat: repeat-y;
                          background-size: 110px;"
                      ></span>
                  </div>
              </a>
              <div class="--navigation-menu d-flex f-column ">
                  <div class="transition"></div>
                  <div class="transition"></div>
                  <div class="transition"></div>
              </div>
          </div>
          <nav class="--menu flex-1">
              <ul>
                  <li>
                        <form action="/index.php?route=ajax/search" id="searchForm">
                            <div class="--search-items d-flex align-center">
                                <div class="--search-icon">
                                    <img src="catalog/view/theme/default/img/search.svg" class="d-block" alt="">
                                </div>
                                <div class="--search-label flex-1">
                                    <label for="fixed-search" class="d-block">
                                        <input type="text" placeholder="Найти мебель" id="fixed-search" class="d-block" name="search">
                                    </label>
                                </div>
                            </div>
                        </form>
                        <div class="--search-wrapper">
                            <div class="d-flex f-column">
                                <div class="--search-wrapper-header d-flex align-center jfy-bwn border-bottom">
                                    <p>
                                        Поиск
                                    </p>
                                    <svg class="d-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                                        <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                                    </svg>
                                </div>
                                <div class="--search-wrapper-body flex-1">
                                    {# <ul class="--search-wrapper-ul-category"> 

                                        <li>
                                            <a href="#">
                                                Детская мебель из массива дерева
                                            </a>
                                        </li>

                                    </ul> #}

                                    <ul class="--search-wrapper-ul-product">

                                    </ul>
                                </div>
                                <div class="--search-wrapper-footer" id="search-button">
                                    <a class="d-block text-center">
                                        Все результаты поиска
                                    </a>
                                </div>
                            </div>
                        </div>
                  </li>
                      {{ menu }}
              </ul>
          </nav>
      </div>
  </header>

    <div class="main-content">
        <div class="-content_space">
            <header class="top-header">
                <div class="top-header-wrapper d-flex align-center transition">
                    <div class="top-header-list flex-1">
                        <ul class="d-flex align-center">
                            <li>
                                <a href="#">
                                    (90) 945 74 43
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                                    </i>
                                </a>
                                <div class="call-wrapper">
                                    <ul class="d-flex jfy-bwn">
                                        <li class="transition active">
                                            Перезвонить мне
                                        </li>
                                        <li class="transition">
                                            Задать вопрос
                                        </li>
                                    </ul>
                                    <div class="wrapper-items">
                                        <div class="wrapper-item">
                                            <form action="/index.php?route=common/message/add" method="post" id="callBackForm">
                                                <label for="callback" class="d-block">
                                                    <span class="d-block">Телефон</span>
                                                    <input type="text" required id="callback" name="phone"  placeholder="+9__ (__) ___ __ __" data-mask="+900 (00) 000 00 00"  class="--phone d-block">
                                                </label>
                                                <label for="name" class="d-block">
                                                    <span class="d-block">Имя</span>
                                                    <input type="text" required id="name" name="name" class="d-block">
                                                </label>
                                                <input type="hidden" name="type" value="callback" />
                                                <div class="-submit_wrapper">
                                                    <button class="submit--form d-block transition">
                                                        Отправить
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="wrapper-item">
                                            <form action="/index.php?route=common/message/add" method="post" id="questionForm">
                                                <label for="textarea" class="d-block">
                                                    <span class="d-block">Вопрос</span>
                                                    <textarea id="textarea" name="question" minlength="50" required></textarea>
                                                </label>
                                                <label for="name2" class="d-block">
                                                    <span class="d-block">Имя</span>
                                                    <input type="text" id="name2" name="name" class="d-block" required>
                                                </label>
                                                <label for="envelope" class="d-block">
                                                    <span class="d-block">Электронная почта</span>
                                                    <input type="email" id="envelope" name="mail" class="d-block" required>
                                                </label>
                                                <input type="hidden" name="type" value="question" />
                                                <div class="-submit_wrapper">
                                                    <button class="submit--form d-block transition">
                                                        Отправить
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/index.php?route=information/about_us">
                                    О Проекте
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/service">
                                    Услуги
                                </a>
                            </li>
                            <li>
                                <a href="/index.php?route=information/delivery">
                                    Доставка и оплата
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-header-icons">
                        <ul class="d-flex justify-center">
                            {{ wish }}
                            {{ cart }}
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>
