{{ header_home }}
    <div class="main-content">
    
        <div class="-content_space">
            <div class="hero--slider">
                <div class="owl-carousel owl-theme">
                    {% for banner in banners %}
                        <div class="item">
                            {% if banner.link %}
                                <a href="{{ banner.link }}" class="hero-slider-items d-block grid-quarter">
                                    <img src="{{ banner.image }}" alt="" class="d-block max-none">
                                </a>
                            {% else %}
                                <a href="#" class="hero-slider-items d-block grid-quarter">
                                    <img src="{{ banner.image }}" alt="" class="d-block max-none">
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
        <div class="-content_space">
            <div class="--banner-wrapper d-flex">
                {% for banner in banner_2s %}
                    {% if banner.link %}
                        <a href="{{ banner.link }}" class="transition">
                            <img src="{{ banner.image }}" alt="" class="d-block">
                        </a>
                    {% else %}
                        <a href="#" class="transition">
                            <img src="{{ banner.image }}" alt="" class="d-block">
                        </a>
                    {% endif %}    
                {% endfor %}
            </div>
        </div>


        
        <section class="top-sale-wrapper">
            <div class="-content_space">
                <h1 class="--sale_title text-center">
                    Диваны
                </h1>
                <div class="wrapper">
                    <div class="top-sale-box p-1">
                        <h2 class="top-sale-box-title">
                            Хиты интернет продаж
                      
                        </h2>
                        <p class="top-sale-box-desc">
                            В нашем интернет-магазине представлены только тщательно отобранные модели, исключительные диваны – хиты продаж в Москве и по России. Каждая модель дивана из нашего интернет каталога – это воплощение отличного дизайна, легенда мебельной отрасли.
                        </p>

                        <div class="top-sale-slider">
                            <div class="owl-carousel owl-theme">
                                {% for product in products %}

                                    <div class="item">
                                        <div class="--item-header">
                                            <div class="--item-header-img">
                                                <img src="{{ product.thumb }}" alt="" class="d-block">
                                                <div class="shipping-svg">
                                                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                        width="44px" height="44px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve">
                                                        <g id="Layer_3">
                                                            <circle opacity="0.9" fill="#FFFFFF" enable-background="new    " cx="22" cy="22" r="21"/>
                                                        </g>
                                                        <g id="Layer_2">
                                                            <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="22" cy="22" r="21.5"/>
                                                            <path stroke="#FFFFFF" stroke-width="0.25" stroke-miterlimit="10" d="M34.4,12c0-3-2.4-5.4-5.4-5.4c-2.8,0-5,2.1-5.4,4.7h-7.1
                                                                L10,17.1v4.4h2.1c0.2,1.1,1.1,2,2.3,2c1.2,0,2.2-0.9,2.3-2H25c0.2,1.1,1.1,2,2.3,2s2.2-0.9,2.3-2h2.7v-5.3
                                                                C33.6,15.2,34.4,13.7,34.4,12z M29,7.9c2.2,0,4.1,1.8,4.1,4.1c0,2.2-1.8,4.1-4.1,4.1s-4.1-1.8-4.1-4.1S26.8,7.9,29,7.9z M14.5,22.1
                                                                c-0.6,0-1-0.5-1-1c0-0.6,0.5-1,1-1c0.6,0,1,0.5,1,1C15.5,21.7,15,22.1,14.5,22.1z M14.5,18.7c-0.9,0-1.7,0.6-2.1,1.4h-0.9v-2.4
                                                                l5.7-5h3.1v7.4h-3.6C16.2,19.3,15.4,18.7,14.5,18.7z M27.3,22.1c-0.6,0-1-0.5-1-1c0-0.6,0.5-1,1-1c0.601,0,1,0.5,1,1
                                                                C28.3,21.7,27.9,22.1,27.3,22.1z M31,20.1h-1.6c-0.4-0.8-1.2-1.4-2.101-1.4c-0.899,0-1.7,0.6-2.1,1.4h-3.6v-7.4h2.1
                                                                c0.3,2.7,2.6,4.7,5.399,4.7c0.7,0,1.4-0.1,2-0.4L31,20.1L31,20.1L31,20.1z"/>
                                                            <line fill="none" stroke="#000000" stroke-width="0.75" stroke-miterlimit="10" x1="29" y1="12" x2="29" y2="8.9"/>
                                                            <line fill="none" stroke="#000000" stroke-width="0.75" stroke-miterlimit="10" x1="28.6" y1="12" x2="31.9" y2="12"/>
                                                        </g>
                                                        <g>
                                                            <path d="M10.616,27.122h0.366v7.17h-0.529v-6.399l-1.168,0.945l-0.285-0.427L10.616,27.122z"/>
                                                            <path d="M14.807,33.795h0.569c0.285-0.365,0.65-1.341,0.742-2.783l0.071-1.29h2.916v4.073h0.762v1.655h-0.498v-1.158h-4.063v1.158
                                                                h-0.498V33.795z M15.935,33.795h2.641V30.22h-1.89l-0.061,0.994C16.523,32.535,16.168,33.5,15.935,33.795z"/>
                                                            <path d="M24.626,33.734c-0.417,0.436-1.076,0.649-1.686,0.649c-1.443,0-2.428-0.935-2.428-2.377c0-1.33,0.813-2.377,2.315-2.377
                                                                c1.18,0,2.072,0.813,2.072,2.062c0,0.172-0.01,0.305-0.03,0.427h-3.769c0.041,1.097,0.772,1.768,1.869,1.768
                                                                c0.619,0,1.168-0.234,1.483-0.56L24.626,33.734z M21.07,31.682h3.291c-0.02-0.964-0.629-1.554-1.584-1.554
                                                                C21.761,30.128,21.162,30.788,21.07,31.682z"/>
                                                            <path d="M29.649,32.22h-2.966v2.072h-0.527v-4.57h0.527v2.001h2.966v-2.001h0.528v4.57h-0.528V32.22z"/>
                                                            <path d="M31.779,29.722h0.527v1.533h0.884c1.401,0,1.809,0.69,1.809,1.504c0,0.802-0.457,1.533-1.879,1.533h-1.341V29.722z
                                                                    M32.307,31.753v2.042h0.783c0.995,0,1.35-0.376,1.35-1.026c0-0.64-0.375-1.016-1.341-1.016H32.307z"/>
                                                        </g>
                                                    </svg>                                               
                                                </div>
                                                <div class="--item-top-tools d-flex align-center jfy-bwn">
                                                    <div class="--heart_icon toaster-wishlist wishlistById{{ product.product_id }}" onclick="wishlist.add({{ product.product_id }});" >
                                                        {% if product.product_id in wishlistProducts %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="transition active" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
                                                        {% else %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
                                                        {% endif %}
                                                    </div>
                                                    <div class="--search_icon">
                                                        <span>
                                                            Быстрый просмотр
                                                        </span>
                                                        <input type="hidden" class="product_id" value="{{ product.product_id }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="transition" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="--item-header-text">
                                                <h1>
                                                    {{ product.category_name }}
                                                </h1>
                                                <p>
                                                    {{ product.name }}
                                                </p>
                                                <span>
                                                    Цена
                                                </span>
                                                {% if product.special %}
                                                    <div class="-text-const d-flex f-wrap align-center">
                                                        <span>
                                                            {{ product.price }}
                                                        </span>
                                                        <p>
                                                            {{ product.special }} 
                                                        </p>
                                                        <div>
                                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="72px" height="40px" viewBox="0 0 72 40" enable-background="new 0 0 72 40" xml:space="preserve">
                                                                <g>
                                                                    <path class="discount-svg" fill="#D67E85" d="M69.648,0.01c-0.019,0-0.082-0.002-0.103-0.002c-9.587-0.011-18.692,0-27.899,0.007H26.981
                                                                        c-0.025,0-0.05,0.001-0.075,0.002C23.666,0.014,20.398,0.009,17.084,0C12.057,4.976,7.031,9.942,2.104,14.999
                                                                        c-2.784,2.769-2.817,7.324-0.03,9.943C7.011,30.018,12.087,35.014,17.104,40l52.405-0.004c1.351,0,2.491-1.189,2.491-2.539V2.461
                                                                        C72,1.132,70.969,0.044,69.648,0.01z M6.747,23.029c-1.673,0-3.029-1.355-3.029-3.029s1.356-3.029,3.029-3.029
                                                                        S9.776,18.327,9.776,20S8.42,23.029,6.747,23.029z"></path>
                                                                </g>
                                                            </svg>
                                                            <span>{{ product.percent_special }}%</span>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="-text-const d-flex f-wrap align-center">
                                                        <p>
                                                            {{ product.price }} 
                                                        </p>
                                                    </div>
                                                {% endif %}    
                                            </div>
                                        </div>
                                        <div class="--item-footer">
                                            <a href="{{ product.href }}" class="--empty-space d-block"></a>
                                        </div>
                                        <div class="--item-size">
                                            <p>
                                                Размеры
                                            </p>
                                            <div class="--size_props d-flex align-center jfy-bwn">
                                                <div>
                                                    <span>
                                                        длина
                                                    </span>
                                                    <p>
                                                        {{ product.length }} см
                                                    </p>
                                                </div>
                                                <div>
                                                    x
                                                </div>
                                                <div>
                                                    <span>
                                                        ширина
                                                    </span>
                                                    <p>
                                                        {{ product.width }} см
                                                    </p>
                                                </div>
                                                <div>
                                                    x
                                                </div>
                                                <div>
                                                    <span>
                                                        высота
                                                    </span>
                                                    <p>
                                                        {{ product.height }} см
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="{{ product.href }}" class="--buy-btn transition">
                                                Купить
                                            </a>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="--banner-img negative-space">
            <div class="-content_space">
                {% for advertise in advertises %}
                    {% if advertise.link %}
                        <a href="{{ advertise.link }}" class="in--banner d-block">
                            <div class="wrapper">
                                <div class="in--banner-text">
                                    <?php echo $advertise['title']; ?>
                                </div>
                            </div>
                            <img src="{{ advertise.image }}" alt="" class="d-block">
                        </a>
                    {% else %}
                        <a href="#" class="in--banner d-block">
                            <div class="wrapper">
                                <div class="in--banner-text">
                                    {{ advertise.title  }}                             
                                </div>
                            </div>
                            <img src="{{ advertise.image }}" alt="" class="d-block">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        <section class="awesome-text-wrapper">
            <div class="-content_space">
                <div class="awesome-text-box p-2">
                    <h1 class="text-center">Мебель начинается с дивана</h1>
                    <p class="text-center">
                        Мы производим мебель. Мы продаем мебель. Мы любим мебель. Мы знаем все о мебели. <br> Кратко о том как сделать отличную мебель.
                    </p>
                    <div class="awesome-text_inner d-flex">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="d-block" width="50.964px" height="64.176px" viewBox="0 0 50.964 64.176">
                                <polygon class="bg" fill="none" points="14.438,43.548 6.054,43.548 7.584,18.133 13.307,18.133 "></polygon>
                                <g>
                                    <path d="M16.124,44.766H5.072l2.002-27.333h7.048L16.124,44.766z M7.348,42.369h6.499L11.845,19.83H9.35L7.348,42.369z"></path>
                                </g>
                                <path class="bg" fill="none" stroke="#000000" stroke-width="2.2795" stroke-miterlimit="10" d="M20.691,43.863v-8.484	c0-0.503,0.407-0.912,0.911-0.912h19.72c0.504,0,0.912,0.409,0.912,0.912v8.484"></path>
                                <path class="bg" fill="none" stroke="#000000" stroke-width="2.5" stroke-miterlimit="10" d="M49.766,61.809c0,0.627-0.478,1.135-1.065,1.135 H2.383c-0.589,0-1.066-0.508-1.066-1.135V45.154c0-0.627,0.478-1.135,1.066-1.135h46.318c0.588,0,1.065,0.508,1.065,1.135V61.809z"></path>
                                <g>
                                    <path class="bg" fill="none" d="M29.586,7.254c1.89-2.828,5.284-4.573,8.688-4.426c2.328,0.039,4.621,0.949,6.372,2.478 c1.785,1.541,2.999,3.728,3.361,6.058c0.287,1.819,0.083,3.72-0.615,5.427c-0.759,1.881-2.098,3.523-3.79,4.641 c-1.685,1.126-3.712,1.725-5.737,1.693c-2.084-0.016-4.157-0.696-5.841-1.924c-2.326-1.672-3.887-4.365-4.149-7.221 c-1.089,0.947-2.544,1.453-3.984,1.413c-1.309-0.015-2.603-0.491-3.62-1.312c-0.884-0.704-1.555-1.67-1.916-2.74 c-0.263,0.663-0.743,1.243-1.367,1.593c-0.833,0.486-1.895,0.551-2.78,0.174c-0.792-0.325-1.434-0.992-1.726-1.798 c-0.263-0.699-0.263-1.494,0.001-2.194c0.296-0.807,0.941-1.476,1.737-1.801c0.811-0.339,1.766-0.312,2.559,0.07 c0.542,0.25,0.99,0.676,1.318,1.172c0.215-1.454,0.975-2.824,2.117-3.751c0.98-0.817,2.231-1.298,3.506-1.357 C25,3.381,26.303,3.741,27.364,4.464C28.366,5.138,29.159,6.124,29.586,7.254z"></path>
                                    <path fill="#040506" d="M37.343,0h1.221c3.14,0.141,6.215,1.463,8.446,3.681c1.828,1.78,3.106,4.119,3.607,6.62 c0.54,2.634,0.239,5.437-0.871,7.889c-1.261,2.817-3.57,5.147-6.38,6.429c-1.938,0.895-4.104,1.289-6.232,1.146 c-2.771-0.169-5.473-1.273-7.569-3.092c-1.59-1.358-2.816-3.115-3.602-5.048c-1.367,0.313-2.817,0.285-4.168-0.103 c-1.684-0.479-3.193-1.519-4.266-2.898c-1.223,0.562-2.681,0.595-3.924,0.076c-1.287-0.525-2.323-1.634-2.756-2.957 c-0.328-0.967-0.335-2.034-0.033-3.007c0.391-1.272,1.331-2.362,2.529-2.938c1.035-0.509,2.252-0.62,3.366-0.332 c0.722-1.382,1.831-2.559,3.177-3.348c1.465-0.874,3.21-1.258,4.907-1.108c1.767,0.149,3.476,0.89,4.792,2.078 C31.742,1.24,34.51,0.146,37.343,0z M29.586,7.254c-0.428-1.13-1.221-2.116-2.223-2.79C26.303,3.741,25,3.381,23.719,3.449 c-1.274,0.059-2.525,0.54-3.506,1.357c-1.143,0.927-1.902,2.297-2.117,3.751c-0.328-0.496-0.776-0.922-1.318-1.172 c-0.793-0.382-1.748-0.409-2.559-0.07c-0.796,0.325-1.441,0.994-1.737,1.801c-0.264,0.7-0.264,1.495-0.001,2.194 c0.292,0.806,0.934,1.473,1.726,1.798c0.886,0.377,1.947,0.312,2.78-0.174c0.624-0.35,1.104-0.93,1.367-1.593 c0.361,1.07,1.032,2.036,1.916,2.74c1.018,0.821,2.312,1.298,3.62,1.312c1.44,0.04,2.896-0.466,3.984-1.413 c0.263,2.855,1.823,5.549,4.149,7.221c1.684,1.228,3.757,1.908,5.841,1.924c2.025,0.031,4.053-0.567,5.737-1.693 c1.692-1.117,3.031-2.76,3.79-4.641c0.698-1.707,0.902-3.607,0.615-5.427c-0.362-2.33-1.576-4.517-3.361-6.058 c-1.751-1.529-4.044-2.439-6.372-2.478C34.871,2.681,31.476,4.426,29.586,7.254z"></path>
                                </g>
                            </svg>
                            <p class="text-center">
                                Организовать производство
                            </p>
                            <span class="d-block text-center">
                                Исключить из стоимости наценку посредников
                            </span>
                        </div>
                        <div>
                            <svg version="1.1" class="d-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="48px" viewBox="0 0 55 48" enable-background="new 0 0 55 48" xml:space="preserve">
                                <path fill="#FFFFFF" d="M11.11,45.029c0,1.092,0.918,1.976,2.05,1.976h38.765c1.133,0,2.051-0.884,2.051-1.976V16.205
                                    c0-1.09-0.918-1.975-2.051-1.975H13.16c-1.132,0-2.05,0.884-2.05,1.975V45.029z"></path>
                                
                                    <path class="bg" fill="none" d="M11.11,45.029c0,1.092,0.918,1.976,2.05,1.976h38.765c1.133,0,2.051-0.884,2.051-1.976V16.205
                                    c0-1.09-0.918-1.975-2.051-1.975H13.16c-1.132,0-2.05,0.884-2.05,1.975V45.029z"></path>
                                <path d="M51.925,48H13.16c-1.696,0-3.075-1.331-3.075-2.971V16.205c0-1.637,1.379-2.97,3.075-2.97h38.765
                                    c1.696,0,3.075,1.333,3.075,2.97v28.825C55,46.669,53.621,48,51.925,48z M13.16,15.225c-0.565,0-1.025,0.44-1.025,0.98v28.825
                                    c0,0.54,0.46,0.98,1.025,0.98h38.765c0.565,0,1.024-0.44,1.024-0.98V16.205c0-0.54-0.459-0.98-1.024-0.98H13.16z"></path>
                                <path fill="#FFFFFF" d="M6.536,39.214c0,1.091,0.918,1.976,2.05,1.976h38.764c1.133,0,2.051-0.885,2.051-1.976V10.389
                                    c0-1.091-0.918-1.975-2.051-1.975H8.586c-1.132,0-2.05,0.884-2.05,1.975V39.214z"></path>
                                    <path class="bg" fill="none" d="M6.536,39.214c0,1.091,0.918,1.976,2.05,1.976h38.764c1.133,0,2.051-0.885,2.051-1.976V10.389
                                    c0-1.091-0.918-1.975-2.051-1.975H8.586c-1.132,0-2.05,0.884-2.05,1.975V39.214z"></path>
                                <path d="M47.351,42.186H8.586c-1.696,0-3.075-1.333-3.075-2.972l0.021-27.989c0-1.637,3.41-3.763,5.106-3.763l36.713-0.043
                                    c1.696,0,3.075,1.333,3.075,2.97v28.825C50.426,40.853,49.047,42.186,47.351,42.186z M8.586,9.409c-0.565,0-1.025,0.439-1.025,0.98
                                    v28.825c0,0.54,0.46,0.981,1.025,0.981h38.764c0.565,0,1.025-0.441,1.025-0.981V10.389c0-0.541-0.46-0.98-1.025-0.98H8.586z"></path>
                                <polygon fill="#FFFFFF" points="16.471,1.476 1.703,13.515 1.703,33.29 43.744,33.29 43.744,1.476 "></polygon>
                                <polygon class="bg" fill="none" points="16.471,1.476 1.703,13.515 1.703,33.29 43.744,33.29 43.744,1.476 "></polygon>
                                <path fill="none" d="M2.05,15.8v16.016c0,0.54,0.46,0.98,1.025,0.98h38.764c0.565,0,1.026-0.44,1.026-0.98V2.991
                                    c0-0.54-0.461-0.98-1.026-0.98H18.765V15.8H2.05z"></path>
                                <path d="M41.839,0.021H18.765v1.99h23.074c0.565,0,1.026,0.44,1.026,0.98v28.825c0,0.54-0.461,0.98-1.026,0.98H3.075
                                    c-0.565,0-1.025-0.44-1.025-0.98V15.8H0v16.016c0,1.639,1.379,2.971,3.075,2.971h38.764c1.696,0,3.076-1.332,3.076-2.971V2.991
                                    C44.915,1.354,43.535,0.021,41.839,0.021z"></path>
                                <path fill="#FFFFFF" d="M3.075,0.021H0v2.97C0,1.354,1.379,0.021,3.075,0.021z"></path>
                                <path d="M16.716,12.831c0,0.54-0.46,0.98-1.025,0.98H0v1.99h15.69c1.696,0,3.075-1.332,3.075-2.97V0.021h-2.049V12.831z"></path>
                                <polygon points="1.324,15.374 0,13.811 16.766,0 18.089,1.564 "></polygon>
                                <ellipse cx="11.787" cy="36.84" rx="1.404" ry="1.411"></ellipse>
                                <ellipse cx="18.595" cy="39.063" rx="1.405" ry="1.411"></ellipse>
                                <ellipse cx="26.425" cy="35.558" rx="1.404" ry="1.411"></ellipse>
                                <ellipse cx="32.596" cy="37.054" rx="1.404" ry="1.411"></ellipse>
                                <ellipse cx="47.02" cy="34.531" rx="1.404" ry="1.411"></ellipse>
                                <ellipse cx="45.063" cy="13.106" rx="1.404" ry="1.412"></ellipse>
                                <ellipse cx="41.573" cy="37.44" rx="1.404" ry="1.41"></ellipse>
                                <ellipse cx="46.595" cy="24.909" rx="1.404" ry="1.412"></ellipse>
                            </svg>
                            <p class="text-center">
                                Выбрать комплектующие
                            </p>
                            <span class="d-block text-center">
                                Выбрать качественные мебельные материалы и комплектующие
                            </span>
                        </div>
                        <div>
                            <svg version="1.1" class="d-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48.4px" height="53.168px" viewBox="0 -2.582 48.4 53.168" enable-background="new 0 -2.582 48.4 53.168" xml:space="preserve">
                                <path opacity="0" fill="#141516" d="M47.292,49.336c0,0-9.711-0.002-22.381-0.002c-12.667,0-23.495,0.002-23.495,0.002
                                    c0-12.271,10.27-22.22,22.938-22.22C37.023,27.117,47.292,37.066,47.292,49.336z"></path>
                                <path class="bg" fill="none" d="M1.125,49.037c0-12.763,10.297-23.109,23-23.109c12.702,0,23,10.347,23,23.109"></path>
                                <rect x="0.01" y="48.577" fill="#141516" width="48.39" height="2.01"></rect>
                                <rect x="11.417" y="36.5" fill="#141516" width="2" height="14.023"></rect>
                                <rect x="35.458" y="36.503" fill="#141516" width="2" height="13.477"></rect>
                                <path class="bg" fill="none" d="M36.749,13.118c0,6.658-5.596,12.056-12.5,12.056c-6.903,0-12.499-5.398-12.499-12.056"></path>
                                <path class="bg" fill="none" d="M11.378,11.989c0-7.281,5.875-13.186,13.125-13.186c7.247,0,13.123,5.905,13.123,13.185"></path>
                                <rect x="13.345" y="36.503" fill="#141516" width="22.797" height="2.01"></rect>
                                <path fill="#151516" d="M38.818,11.772c-0.082-7.928-6.52-14.354-14.43-14.354c-7.91,0-14.348,6.426-14.43,14.354H9.179v2.01h30.449
                                    v-2.01H38.818z M16.971,1.916l3.273,5.323l1.702-1.056l-3.284-5.34c1.716-0.898,3.66-1.415,5.725-1.415
                                    c1.897,0,3.69,0.442,5.301,1.209l-3.424,5.566l1.701,1.056l3.461-5.626c3.217,2.229,5.34,5.937,5.391,10.139h-24.86
                                    C12.006,7.738,13.969,4.167,16.971,1.916z"></path>
                                <path fill="none" d="M24.342,23.83c5.853,0,10.617-4.785,10.617-10.667c0-0.376-0.021-0.748-0.059-1.113H13.784
                                    c-0.038,0.366-0.059,0.737-0.059,1.113C13.725,19.044,18.488,23.83,24.342,23.83z"></path>
                                <rect x="15.927" y="28.002" fill="#141516" width="2" height="13.73"></rect>
                                <rect x="30.958" y="27.709" fill="#141516" width="2" height="14.022"></rect>
                                <path fill="#151516" d="M37.595,13.348c0,7.353-5.968,13.334-13.302,13.334c-7.334,0-13.301-5.982-13.301-13.334 M12.992,13.348
                                    c0,6.245,5.069,11.325,11.301,11.325c6.232,0,11.302-5.08,11.302-11.325"></path>
                                <path fill="#151516" d="M0,48.941C0,36.377,10.856,25.15,24.2,25.15c13.344,0,24.201,11.227,24.201,23.791 M46.391,48.941
                                    c0-11.456-9.954-21.781-22.191-21.781c-12.235,0-22.19,10.325-22.19,21.781"></path>
                            </svg>
                            <p class="text-center">
                                Нанять профессионалов
                            </p>
                            <span class="d-block text-center">
                                Собрать команду квалифицированных специалистов
                            </span>
                        </div>
                        <div>
                            <svg version="1.1" class="d-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="43px" viewBox="0 0 58 43" enable-background="new 0 0 58 43" xml:space="preserve">
                                <path class="bg" fill="none" d="M56.812,15.625c0-2.761-2.238-5-5-5H6.438c-2.761,0-5,2.239-5,5v5.812H3.25V41H54V21.438h2.812V15.625z"></path>
                                <g>
                                    <rect x="41.225" y="16.788" fill="none" width="5.047" height="3.286"></rect>
                                    <rect x="11.292" y="16.913" fill="none" width="5.046" height="3.161"></rect>
                                    <rect x="41.225" y="22.573" fill="none" width="5.047" height="4.581"></rect>
                                    <path fill="none" d="M18.074,15.129v4.944h21.414v-5.069h8.518v5.069h7.482V15.87c0-2.005-1.586-3.636-3.537-3.636H5.695
                                        c-1.951,0-3.539,1.631-3.539,3.636v4.204h7.399v-4.944H18.074z"></path>
                                    <rect x="11.292" y="22.573" fill="none" width="5.046" height="4.706"></rect>
                                    <polygon points="16.338,27.254 11.292,27.254 11.292,21.479 9.556,21.479 9.556,29.062 18.074,29.062 18.074,21.479 16.338,21.479 
                                            "></polygon>
                                    <polygon points="11.292,16.935 16.338,16.935 16.338,21.136 18.074,21.136 18.074,15.129 9.556,15.129 9.556,21.136 11.292,21.136 
                                            "></polygon>
                                    <polygon points="46.271,27.137 41.225,27.137 41.225,21.511 39.488,21.511 39.488,28.938 48.006,28.938 48.006,21.511 
                                        46.271,21.511 	"></polygon>
                                    <polygon points="39.488,15.004 39.488,21.12 41.225,21.12 41.225,16.804 46.271,16.804 46.271,21.12 48.006,21.12 48.006,15.004 	
                                        "></polygon>
                                    <path stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M41.225,20.073"></path>
                                    <polygon fill="none" points="41.314,26.46 41.314,22.402 16.126,22.402 16.126,27.001 11.463,27.001 11.463,22.402 4.355,22.402 
                                        4.355,40.94 53.062,40.94 53.062,22.402 45.979,22.402 45.979,26.46 	"></polygon>
                                    <polygon points="46.342,21.343 46.789,22.234 53.062,22.402 53.062,40.94 4.355,40.94 4.355,22.402 10.732,22.402 10.732,21.343 
                                        2.417,21.343 2.417,43 55.002,43 55.002,21.343 	"></polygon>
                                    <rect x="16.328" y="20.392" width="24.906" height="2"></rect>
                                    <rect y="20.392" width="11.297" height="2"></rect>
                                    <rect x="46.271" y="20.392" width="11.717" height="2"></rect>
                                    <path fill="none" d="M52.246,11.833H5.753c-2.086,0-3.784,1.768-3.784,3.94v5.867h8.968v-1.406h5.859v1.406h24.391v-1.573h5.859
                                        v1.573h8.984v-5.867C56.031,13.601,54.334,11.833,52.246,11.833z"></path>
                                    <path fill="#030405" d="M52.246,9.833H5.753C2.581,9.833,0,12.498,0,15.773v5.867h1.969v-5.867c0-2.173,1.697-3.94,3.784-3.94
                                        h46.493c2.088,0,3.785,1.768,3.785,3.94v5.867H58v-5.867C58,12.498,55.418,9.833,52.246,9.833z"></path>
                                    <path fill="#030405" d="M35.914,0H21.421c-3.172,0-5.753,2.665-5.753,5.94v5.867h1.969V5.94c0-2.173,1.697-3.94,3.784-3.94h14.493
                                        c2.088,0,3.785,1.768,3.785,3.94v5.867h1.969V5.94C41.668,2.665,39.086,0,35.914,0z"></path>
                                </g>
                            </svg>
                            <p class="text-center">
                                Заботиться о клиенте
                            </p>
                            <span class="d-block text-center">
                                Предоставить клиенту лучший сервис и гарантировать качество
                            </span>
                        </div>
                        <div>
                            <svg version="1.1" class="d-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60.25px" height="45.146px" viewBox="0 0 60.25 45.146" enable-background="new 0 0 60.25 45.146" xml:space="preserve">
                                <polygon fill="#FFFFFF" points="8.125,14.75 12.125,7.25 17,3.875 23.375,1.75 29.5,1.125 35.875,1.625 41.125,3.625 46,6.875
                                    49.625,10.875 52,14.875 52.5,16 54.875,15.25 57.25,16.375 58.75,18.125 60.25,20.875 57.75,22.5 54.875,24.125 52.75,24.875
                                    52.625,30.75 52.375,36 50.875,38.625 47.875,40.25 44.125,40.25 26.75,40.5 13.125,40 10.375,39.5 8,37.125 7.5,34.375 7.375,25.5
                                    6.5,24 2.25,22.125 -0.017,19.482 1.875,16.375 4.625,15.125 7.125,15.5 "></polygon>
                                <polygon class="bg" fill="none" points="8.125,14.75 12.125,7.25 17,3.875 23.375,1.75 29.5,1.125 35.875,1.625 41.125,3.625 46,6.875
                                    49.625,10.875 52,14.875 52.5,16 54.875,15.25 57.25,16.375 58.75,18.125 60.25,20.875 57.75,22.5 54.875,24.125 52.75,24.875
                                    52.625,30.75 52.375,36 50.875,38.625 47.875,40.25 44.125,40.25 26.75,40.5 13.125,40 10.375,39.5 8,37.125 7.5,34.375 7.375,25.5
                                    6.5,24 2.25,22.125 -0.017,19.482 1.875,16.375 4.625,15.125 7.125,15.5 "></polygon>
                                <rect x="11.162" y="40.502" fill="#030405" width="2" height="4.5"></rect>
                                <rect x="46.162" y="40.668" fill="#030405" width="2" height="4.5"></rect>
                                <path fill="none" d="M29.87,2.083C19.001,2.083,9.951,8.9,8.157,17.833h43.426C49.789,8.9,40.739,2.083,29.87,2.083z"></path>
                                <path d="M29.87,2.083c10.869,0,19.919,6.817,21.369,14.345h2.04C51.83,7.792,41.862,0.083,29.87,0.083S8.58,6.375,6.787,16.417h2.04
                                    C10.621,7.483,19.001,2.083,29.87,2.083z"></path>
                                <path fill="none" d="M12.744,39h34.833c2.206,0,4-1.793,4-4v-2.021H8.766V27.75H8.744V35C8.744,37.207,10.538,39,12.744,39z"></path>
                                <path d="M51.642,26.797l-0.043,6.182h-0.021V35c0,2.207-1.794,4-4,4H12.744c-2.206,0-4-1.793-4-4v-8.25h-2V35c0,3.309,2.691,6,6,6
                                    h34.833c3.309,0,6-2.691,6-6v-8.25L51.642,26.797z"></path>
                                <rect x="51.577" y="27.75" width="0.021" height="5.229"></rect>
                                <rect x="13.798" y="31.781" width="32.406" height="2"></rect>
                                <path fill="none" d="M58.387,20.015c0.009-0.059,0.001-0.175-0.012-0.307c-0.036,0.319-0.105,0.63-0.232,0.916
                                    C58.263,20.387,58.367,20.14,58.387,20.015z"></path>
                                <path fill="none" d="M58.104,20.697c-0.045,0.095-0.103,0.183-0.157,0.272C57.998,20.888,58.05,20.799,58.104,20.697z"></path>
                                <path fill="none" d="M56.251,22.454c0.167-0.035,0.39-0.181,0.622-0.37c-0.257,0.164-0.545,0.282-0.845,0.377
                                    C56.131,22.461,56.221,22.46,56.251,22.454z"></path>
                                <path fill="#A82B76" d="M58.143,20.625c-0.013,0.025-0.026,0.048-0.039,0.072C58.115,20.672,58.131,20.65,58.143,20.625z"></path>
                                <path fill="none" d="M54.657,24.594c-0.023,0.012-0.068,0.035-0.12,0.064c0.083-0.033,0.171-0.061,0.261-0.08
                                    C54.735,24.586,54.682,24.592,54.657,24.594z"></path>
                                <path fill="none" d="M58.267,19.618c0-1.812-1.686-3.286-3.77-3.314v6.63C56.581,22.905,58.267,21.431,58.267,19.618z"></path>
                                <g>
                                    <path d="M55.419,23.15c-0.036-0.117,0.058-0.198,0.082-0.291c-0.121,0-0.502,0.062-0.719,0.062c-0.291,0-0.629,0.025-0.906,0.047
                                        c-0.563,0.043-0.914,0.449-1.186,0.812c-0.522,0.693-0.807,1.785-0.986,2.578c-0.109,0.484-0.121,0.793-0.141,1.141
                                        c-0.016,0.281,0.027,0.531,0.023,0.658c-0.011,0.428-0.052,1.125-0.05,1.797c0.003,0.938,0.05,1.744,0.05,2.344l1.742-0.043v-4.959
                                        h0.234c0.015-0.186,0.008-0.469,0.014-0.547c0.003-0.025-0.011,0.252,0.025-0.232c-0.001-0.018-0.009-0.029-0.009-0.049
                                        c-0.002-0.053,0.005-0.107,0.01-0.162c-0.012-0.072-0.024-0.145-0.024-0.223c0-0.621,0.389-1.154,0.942-1.379
                                        c0.052-0.029,0.097-0.053,0.12-0.064c0.024-0.002,0.078-0.008,0.141-0.016c0.105-0.021,0.214-0.035,0.325-0.035
                                        c0.032,0,0.062,0.008,0.095,0.01c0.035,0,0.074-0.002,0.101,0.002c0.082,0.008,0.165,0.014,0.248,0.02
                                        c0.043-0.17,0.143-0.32,0.312-0.396c0.002-0.002,0.001-0.004,0.002-0.006C55.656,23.891,55.521,23.488,55.419,23.15z"></path>
                                    <path d="M55.173,16.313c0.083-0.493-0.527-1.095-0.768-1.536c-0.063-0.116-0.081-0.215-0.076-0.323
                                        c-0.813,0.053-2.161,0.522-2.781,0.906c-0.963,0.595-2.296,2.179-2.682,2.65c-0.679,0.831-1.756,2.634-2.229,3.631
                                        c-0.41,0.865-0.996,2.591-1.227,3.5c-0.311,1.225-1.064,6.93-1.084,7.08l1.861,1.561c0.13-0.992,0.928-7.227,1.162-8.148
                                        c0.202-0.799,0.747-2.402,1.094-3.133c0.414-0.872,1.405-2.531,1.972-3.224c0.638-0.78,1.488-1.694,2.015-2.094
                                        c0.627-0.605,1.362-0.881,2.329-0.888C54.752,16.268,55.159,16.395,55.173,16.313z"></path>
                                    <path d="M54.251,14.454l0.006,0.776h0.24v1.074c2.084,0.028,3.77,1.502,3.77,3.314c0,1.813-1.686,3.287-3.77,3.315v0.879h-0.175
                                        l0.007,0.938c3.214,0,5.938-2.199,5.938-5.132C60.267,16.685,57.465,14.454,54.251,14.454z"></path>
                                </g>
                                <g>
                                    <path d="M4.925,23.046c0.036-0.117-0.058-0.198-0.082-0.291c0.121,0,0.502,0.062,0.719,0.062c0.291,0,0.629,0.025,0.906,0.047
                                        c0.563,0.043,0.914,0.45,1.186,0.811c0.522,0.693,0.807,1.785,0.986,2.58c0.109,0.484,0.121,0.793,0.141,1.141
                                        c0.016,0.281-0.027,0.529-0.023,0.656c0.011,0.428,0.052,1.127,0.05,1.799c-0.003,0.936-0.05,1.744-0.05,2.342l-1.742-0.041v-4.959
                                        l-0.264,0.15c-0.015-0.186,0.021-0.621,0.016-0.697c-0.003-0.027,0.011,0.252-0.025-0.232c0.001-0.018,0.009-0.031,0.009-0.049
                                        c0.002-0.055-0.005-0.107-0.01-0.162c0.012-0.074,0.024-0.146,0.024-0.223c0-0.623-0.389-1.154-0.942-1.379
                                        c-0.052-0.029-0.097-0.053-0.12-0.064c-0.024-0.004-0.078-0.01-0.141-0.016c-0.105-0.021-0.214-0.035-0.325-0.035
                                        c-0.032,0-0.062,0.008-0.095,0.01c-0.035,0-0.074-0.002-0.101,0c-0.082,0.01-0.165,0.014-0.248,0.02
                                        c-0.043-0.168-0.143-0.318-0.312-0.395c-0.002-0.002-0.001-0.004-0.002-0.006C4.688,23.785,4.822,23.385,4.925,23.046z"></path>
                                    <path d="M5.077,16.177c-0.083-0.492,0.527-1.096,0.768-1.536c0.063-0.116,0.081-0.215,0.076-0.323
                                        c0.813,0.053,2.161,0.522,2.781,0.906c0.963,0.594,2.296,2.178,2.682,2.65c0.679,0.83,1.756,2.634,2.229,3.631
                                        c0.41,0.865,0.996,2.592,1.227,3.499c0.311,1.227,1.064,6.932,1.084,7.082l-1.875,1.688c-0.13-0.994-0.914-7.355-1.148-8.277
                                        c-0.202-0.799-0.747-2.401-1.094-3.132c-0.414-0.872-1.405-2.531-1.972-3.224c-0.638-0.78-1.488-1.693-2.015-2.094
                                        c-0.627-0.605-1.362-0.882-2.329-0.889C5.498,16.132,5.091,16.259,5.077,16.177z"></path>
                                    <path d="M5.999,14.318l-0.006,0.775h-0.24v1.074c-2.084,0.028-3.77,1.502-3.77,3.314c0,1.813,1.686,3.287,3.77,3.315v0.88h0.175
                                        l-0.007,0.938c-3.214,0-5.938-2.2-5.938-5.133S2.785,14.318,5.999,14.318z"></path>
                                </g>
                            </svg>
                            <p class="text-center">
                                + 10% и получить диван за 14 990 р.
                            </p>
                            <span class="d-block text-center">
                                Вполне недорого, правда?
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="seo--text p-2">
            <div class="-content_space">
                <div class="wrapper">
                    <h1 class="seo--text-title">
                        Больше, чем интернет-магазин мебели
                    </h1>
                    <div class="seo--text-box d-flex">
                        <div>
                            <p>
                                Для покупателей Диван.ру – это возможность создать неповторимый интерьер квартиры, сделать обстановку дома уютной, пребывание гостей в офисе – комфортабельным. А для нас, команды Дивана, мебель – это объект искреннего интереса и увлечения. Поэтому мы неизменно растем и стараемся предложить лучший ассортимент мебельного рынка.
                            </p>
                            <p>
                                Мы активно следим за современными тенденциями, постоянно развиваем собственные навыки и возможности производства. На сегодняшний день Диван.ру – это 3 фабрики полного цикла, выпускающие диваны, кресла, шкафы-купе, комоды, прихожие и другую мебель отличного качества. Но мы и дальше будем поднимать эту планку, улучшать материалы, модернизировать производство, чтобы всегда отвечать самым высоким стандартам.
                            </p>
                        </div>
                        <div>
                            <p>
                                Кроме изделий собственного производства мы предлагаем в каталоге широкий ассортимент диванов и другой мебели известных фабрик Москвы и России. Внимательно отбирая каждую модель, мы стараемся сделать наш интернет-магазин действительно удобным для покупателей. Вы точно останетесь довольны! А если не получилось подобрать диван в подходящей ткани или выбрать цвет шкафа-купе, не нужно быть опытным дизайнером или технологом – мы сделали превосходный конструктор на сайте, который позволит учесть самые разные требования. Попробуйте, купить диван - это просто!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{{ footer }}