{% for category in categories %}
    <li>
        <a class="--menu--items d-flex align-center" title="{{ category.name }}">
            <div class="--menu-img">
                <img src="{{ category.image }}" alt="" class="d-block">
            </div>
            <span class="flex-1">
                {{ category.name }}
            </span>
            <i class="--angle-down">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
            </i>
        </a>
        <div class="--menu--items-slide">
            {% for child in category.children %}
                <a href="{{ child.href }}" class="-slide--items d-flex align-center transition">
                    <div class="-slide--items_img">
                    <img src="{{ child.image }}" alt="" class="d-block">
                    </div>
                    <div class="-slide--items_text">
                        <p>
                            {{ child.name }}
                        </p>
                    </div>
                </a>
            {% endfor %}   
            <a href="{{ category.href }}" class="-slide--items d-flex align-center transition">
                <div class="-slide--items_img">
                    <img src="{{ category.image }}" alt="" class="d-block">
                </div>
                <div class="-slide--items_text">
                    <p>
                        Все товары
                    </p>
                </div>
            </a> 
        </div>
    </li>
{% endfor %}
