<li class="--shop-wishlist __same-modal" id="wishlist-total">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"/></svg>
    <span id="total-quantity">
        {{ text_wishlist }}
    </span>
    <!-- basket sidebar -->
    <div class="basket-sidebar-overlay"></div>
    <div class="basket-sidebar transition">
        <div class="basket-close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
        </div>
        <div class="basket-box d-flex f-column">
            <div class="basket--title">
                <h1>
                    Избранные товары
                </h1>
            </div>
            <div class="basket-body flex-1">
                {% if products %}
                    {% for product in products %}
                        <div class="basket-body_items d-flex">
                            <a href="{{ product.href }}" class="-body_items-img grid-quarter">
                                <img src="{{ product.thumb }}" alt="" class="d-block max-none">
                            </a>
                            <div class="-body_items-text">
                                <div class="d-flex jfy-bwn align-center">
                                    <a href="{{ product.href }}" class="flex-1">
                                        <span class="--ct-txt d-block">
                                            {{ product.category_name }}
                                        </span>

                                        {{ product.name }}

                                        <div class="--basket-product-cost">
                                            {{ product.tax }}
                                        </div>
                                    </a>
                                    <div class="--remove-product d-flex align-center">
                                        <svg onclick="wishlist.remove('{{ product.product_id }}');" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">{{ text_empty }}</p>
                {% endif %}    
            </div>
            <div class="basket-footer" id="clearWishlist">
                <button class="--baskter-box d-block text-up" >
                    Очистить все товары
                </button>
            </div>
        </div>
    </div>
    <!-- end basket sidebar -->
</li>