{{ header }}
    <div class="main-content">
      <section class="product--view">
          <div class="-content_space">
              <div class="wrapper">
                  <div class="product-view-wrapper">
                      <div class="product--crumb d-flex">
                        {% for breadcrumb in breadcrumbs %}
                          <a href="{{ breadcrumb.href }}">
                              <span>{{ breadcrumb.text }}</span>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                          </a>
                        {% endfor %}
                      </div>
                      <div class="product--name">
                          Оформление заказа
                      </div>

                      <p>{{ text_error }}</p>
                  </div>
              </div>
          </div>
      </section>
    </div>
{{ footer }}
    <script>
        $('body').addClass('body--full');
    </script>