{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-right">{{ column_username }}</td>
                  <td class="text-right">{{ column_type }}</td>
                  <td class="text-right">{{ column_status }}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>  
              <tbody>
                {% if messages %}
                  {% for message in messages %}
                    <tr>
                    <td class="text-center">
                      {% if message.id in selected %}
                        <input type="checkbox" name="selected[]" value="{{ message.message_id }}" checked="checked" />
                      {% else %}
                        <input type="checkbox" name="selected[]" value="{{ message.message_id }}" />
                      {% endif %}</td>
                      <td class="text-right">{{ message.name }}</td>
                      <td class="text-right">
                        {% if message.type == "callback" %}  
                          Перезвоните
                        {% elseif message.type == "question" %}
                          Вопрос
                        {% elseif message.type == "for_product" %}
                          Купить продукт
                        {% endif %}

                      </td>
                      <td class="text-right">
                        {% if message.viewed == 0 %}  
                          Не просматривал
                        {% else %}
                          Просмотрел
                        {% endif %}
                      </td>
                      <td class="text-right"><a href="{{ message.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
        
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="4">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>